<script>
    import Logos from "./logos.svelte";
    import about from "$data/about.json"
  import { language } from "$store/store";
</script>

<div class="w-full lg:max-w-[75%] px-8">
  {#each Object.keys(about[$language]) as section}
    <h1 class="text-red-700">{section}</h1>
    {#each about[$language][section] as line}
    <p>{@html line}</p>
    {/each}
  {/each}
  <footer class="pt-8 flex flex-col text-red-700 pb-12">
    <Logos />
  </footer>
</div>

<style type="postcss">
h1 {
  @apply text-6xl mb-2 mt-12;
}

p, li {
  @apply my-3;
}
</style>