<script lang="ts">
import { swipe } from 'svelte-gestures'
import { cubicInOut } from 'svelte/easing'
import Icons from './icons.svelte'

let currentImage = 0
let isNext = true

export let media: galleryFormat

const nextPath = () => {
  isNext = true
  currentImage = currentImage < media.options.images.length - 1 ? currentImage + 1 : 0
}

const prevPath = () => {
  isNext = false
  currentImage = currentImage > 0 ? currentImage - 1 : media.options.images.length - 1
}

const changePath = (number: number) => {
  isNext = number > currentImage
  currentImage =  number
}

const slide = (node: HTMLElement, { out = 1, duration = 0 }) => {
  return {
    duration,
    out,
    css: (t: number) => {
      const eased = cubicInOut(t)
      const direct = isNext ?  -1 * out : out
      return `transform: translateX(${direct * (eased * 100 - 100)}%)`
    }
  }
}

const swipeHandler = (event: CustomEvent) => {
  if(event.detail.direction === 'left') nextPath()
  if(event.detail.direction === 'right') prevPath()
}
</script>
<svelte:head>
  {#each media.options.images  as image}
    <link rel="preload" as="image" href="/imgs/{image}.jpg" />
  {/each}
</svelte:head>

{#each media.options.images as image, key}
  {#if currentImage === key}
  <div
    use:swipe={{timeframe: 300, minSwipeDistance: 150, touchAction: null}}
    on:swipe={swipeHandler}
    in:slide|local="{{ duration: 750 }}"
    out:slide|local="{{ out: -1, duration: 750 }}"
    class="absolute w-full h-full p-12 flex items-center justify-center">
    <img
      class="object-contain self-stretch"
      src="/imgs/{image}.jpg"
      alt="x"
      />
  </div>
  {/if}
{/each}

<div class="absolute bottom-0 w-1/2 flex justify-center my-2 items-center">
  {#each media.options.images as image, key}
    <button
      class="{currentImage === key ? 'w-4 h-4 opacity-100' : 'w-2 h-2 opacity-60'} mx-1 text-red-700"
      on:click={() => changePath(key)}>
      <Icons type="bullet" />
    </button>
  {/each}
</div>

<button
  class="absolute h-40 w-1/6 left-0 p-5 flex items-center justify-start"
  on:click={prevPath}>
  <div class="w-8 h-8 text-red-700">
    <Icons type="arrow-left" />
  </div>
</button>
<button
  class="absolute h-40 w-1/6 right-0 p-5 flex items-center justify-end"
  on:click={nextPath}>
  <div class="w-8 h-8 text-red-700">
    <Icons type="arrow-right" />
  </div>
</button>