<script lang="ts">
  export let type: string
</script>

<svg
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 32 32"
  width="100%"
	height="100%">
  {#if type === 'arrow-right'}
    <path d="M27.12,17.61a2.86,2.86,0,0,0,1-1.93,10.28,10.28,0,0,0-.64-1.06S26,13.44,26,13.42L24.48,12.3c-.42-.38-2-1.88-2.51-2.36l-.87-.79a57.85,57.85,0,0,1-4.47-4A.46.46,0,0,1,16.56,5l-.51-.49L16,4.5c-.24-.24-.81-.84-1.05-1.07l-.7-.51c-.21-.18-1.38-.82-1.58-1C10.65.73,10.24.1,7.82.1h0A11.6,11.6,0,0,0,6.19.22a1.75,1.75,0,0,0-.81.3c-.69.48-.46,1-.47,1.82a2,2,0,0,0,.63,1.37L5.81,4C6.57,4.76,8,6.2,9,7.15c.18.16.34.33.51.5a9.73,9.73,0,0,0,1,.95l.51.4.55.42.1.07.61.41A26.38,26.38,0,0,1,17.89,15a1,1,0,0,1-.12,1.14l-.34.31a3.55,3.55,0,0,0-.71.88c-.52.4-1,.82-1.53,1.29l-.52.49c-.49.45-1,.93-1.49,1.43-.75.74-1.53,1.5-2.36,2.2l-.55.46a27.13,27.13,0,0,0-2.74,2.28,24.61,24.61,0,0,1-2.37,2L5,27.61a4.58,4.58,0,0,0-.61.65,2.07,2.07,0,0,0-.08,2.67l.12.14,0,0,.18.18.13.11A3.4,3.4,0,0,0,6.9,32,9.23,9.23,0,0,0,8,31.92l.25,0,.36-.05a5.4,5.4,0,0,0,.71-.24l.43-.16a8.86,8.86,0,0,0,1-.46l.08-.05c.46-.26.92-.56,1.4-.89l.66-.48a37,37,0,0,0,3.75-3.18c.7-.66,1.37-1.27,2.07-1.85l.06-.06.52-.49a21.31,21.31,0,0,1,1.65-1.39l.15-.14.22-.25c.23-.2.58-.45.92-.69s.67-.48,1-.73l.26-.22c.09-.08,2-1.42,2.12-1.5C26,18.71,27.12,17.61,27.12,17.61Z"/>
  {:else if type === 'arrow-left'}
    <path d="M4.88,14.49a2.86,2.86,0,0,0-1,1.93,10.28,10.28,0,0,0,.64,1.06S6,18.65,6.05,18.67L7.52,19.8c.42.37,2,1.87,2.51,2.35l.87.8a57.65,57.65,0,0,1,4.47,4,.46.46,0,0,0,.07.07l.51.5.05.05c.24.24.81.84,1.05,1.07l.7.51c.21.18,1.38.81,1.58,1,2,1.18,2.43,1.81,4.85,1.81h0a11.6,11.6,0,0,0,1.63-.12,1.87,1.87,0,0,0,.81-.3c.69-.48.46-1,.47-1.83a2,2,0,0,0-.63-1.36l-.27-.28C25.43,27.34,24,25.89,23,25c-.18-.17-.34-.33-.51-.51a8.74,8.74,0,0,0-1-.94L21,23.1l-.55-.42-.1-.07-.61-.41a26.65,26.65,0,0,1-5.58-5.14,1,1,0,0,1,.12-1.14l.34-.32a3.32,3.32,0,0,0,.71-.87c.52-.4,1-.82,1.53-1.29l.52-.49c.49-.46,1-.93,1.49-1.43.75-.74,1.53-1.5,2.36-2.21l.55-.45a30.09,30.09,0,0,0,2.74-2.28,23.24,23.24,0,0,1,2.37-2L27,4.49a4.58,4.58,0,0,0,.61-.65,2.07,2.07,0,0,0,.08-2.67L27.55,1l0,0L27.34.82,27.21.7A3.47,3.47,0,0,0,25.1.1,7.41,7.41,0,0,0,24,.18l-.25,0-.36.06a7.3,7.3,0,0,0-.71.23l-.43.16a10.94,10.94,0,0,0-1,.47l-.08,0c-.46.27-.92.56-1.4.9-.22.16-.45.31-.66.48a37,37,0,0,0-3.75,3.18C14.66,6.37,14,7,13.29,7.57l-.06.06-.52.48a21.46,21.46,0,0,1-1.65,1.4l-.15.14-.22.25c-.23.2-.58.45-.92.69s-.67.48-1,.73l-.26.22c-.09.08-2,1.42-2.12,1.5C6,13.39,4.88,14.49,4.88,14.49Z"/>
  {:else if type === 'bullet'}
    <path d="M12.05,31.66c-4.14-.5-6-2.34-7.13-4.31a14.72,14.72,0,0,1-1.39-1.66A15.14,15.14,0,0,1,.91,14.48a13.75,13.75,0,0,1-.13-2c.49-3.33,1.4-6,3.55-8.18A11.92,11.92,0,0,1,5.78,3,15,15,0,0,1,12.4.22,15,15,0,0,1,14.72,0,17.73,17.73,0,0,1,25.29,2.86a11.76,11.76,0,0,1,1.64,1.43,15.64,15.64,0,0,1,4.31,11A14,14,0,0,1,31,17.48c-.11.5-.23,1-.36,1.48s-.27.95-.41,1.41c-.13,1.1-.3,2.19-.52,3.23-.11.52-.23,1-.37,1.52-3,4.2-6.68,7.88-11.52,6.63-.69,0-1.35-.05-2,0a7.16,7.16,0,0,0-1.67.19Z"/>
  {:else if type === 'close'}
    <path d="M30,28.74a1.08,1.08,0,0,0-.11-.4,7.4,7.4,0,0,0-.56-.93c-.1-.13-.2-.26-.32-.4a24.75,24.75,0,0,0-2.45-2.46c-.42-.4-.83-.77-1.22-1.15L24.9,23c-.81-1-1.64-1.91-2.36-2.72l-.46-.51a.46.46,0,0,1-.07-.07,17.91,17.91,0,0,1-1.88-2.19l-.2-.26-.41-.51-.35-.48A2,2,0,0,1,19,16l0-.07a2.42,2.42,0,0,1,.4-.55v0L23,10.92l.06-.08.25-.29.07-.1a5.47,5.47,0,0,1,.86-1l.36-.31,0,0c.17-.15.36-.3.62-.49l.29-.2.09-.06A1.22,1.22,0,0,0,26,8a1.74,1.74,0,0,1,.24-.31c.1-.11.24-.24.4-.39l0,0C28,6.14,30,4.39,29.36,1.94A2,2,0,0,0,27.31.49a4.42,4.42,0,0,0-2,.56l-.09.05a6.51,6.51,0,0,0-.71.55,10.71,10.71,0,0,0-1.08,1.13l0,.05L23,3.31l0,0c-.21.29-.42.59-.65.85l0,0-.42.48a8.49,8.49,0,0,1-.87.85L21,5.62,20.63,6,20,6.56l-.36.34c-.47.47-.89,1-1.3,1.44s-.56.67-.83,1l-.34.3,0,0a10.15,10.15,0,0,0-.89,1.05,7.71,7.71,0,0,1-.58.7c-.29-.38-.73-.95-1.08-1.43L14,9.15C13.15,8,11.51,5.87,10.62,4.42a.18.18,0,0,0,0-.07l-.35-.5,0-.05-.51-.7,0,0c-.15-.19-.29-.39-.43-.58A3.87,3.87,0,0,0,5.51,0h0A5.82,5.82,0,0,0,4.37.12a1.1,1.1,0,0,0-.56.3A2.82,2.82,0,0,0,2.72,2.34a2.42,2.42,0,0,0,.43,1.37L3.34,4c.53.78,1.52,2.22,2.23,3.17.13.16.24.33.36.5a8.21,8.21,0,0,0,.72.95L7,9l.38.42.07.07.42.41a27.91,27.91,0,0,1,4.21,5.71,3.43,3.43,0,0,1-.39.57l-.24.31a3.78,3.78,0,0,0-.49.88c-.36.4-.71.82-1.07,1.29l-.36.49c-.35.45-.69.93-1,1.43-.53.74-1.08,1.5-1.65,2.2l-.39.46a21.78,21.78,0,0,0-1.91,2.28,22,22,0,0,1-1.66,2,.52.52,0,0,0-.1.11,3.58,3.58,0,0,0-.42.65,2.76,2.76,0,0,0-.06,2.67.64.64,0,0,0,.08.14l0,0,.12.18.09.11A1.94,1.94,0,0,0,4.11,32a4.78,4.78,0,0,0,.74-.08l.17,0,.25-.05a3.23,3.23,0,0,0,.5-.24l.3-.16A6.34,6.34,0,0,0,6.8,31l0-.05c.32-.26.64-.56,1-.89l.46-.48a30.2,30.2,0,0,0,2.62-3.18c.49-.66,1-1.27,1.45-1.85l0-.06.36-.49c.39-.5.76-1,1.15-1.39a1.34,1.34,0,0,0,.11-.14l.16-.25a9.35,9.35,0,0,1,.64-.69c.23-.24.47-.48.68-.73l.19-.22a2.31,2.31,0,0,1,.2-.24,4.82,4.82,0,0,1,.55.56c.15.18,1.38,1.79,1.46,1.91l.21.28a8,8,0,0,0,1.25,1.49c.24.28,1,1.13,1.28,1.39a29.48,29.48,0,0,0,4.61,4.69l.06,0,.54.34a1.21,1.21,0,0,0,.43.14,3.26,3.26,0,0,1,.52.18,3.36,3.36,0,0,0,1.34.36,1.83,1.83,0,0,0,1.77-1.42,1,1,0,0,0,.06-.34c0-.11,0-.23,0-.35v-.14A5.6,5.6,0,0,0,30,28.74Z"/>
  {:else if type ==='fullscreen-off'}
    <g>
      <path d="M18,20.12a5.32,5.32,0,0,0,2,2.49,7.28,7.28,0,0,1,1.62,1.61l0,0,0,0,.29.28h0a28.69,28.69,0,0,1,2.77,2.6c.43.44.88.89,1.34,1.34H25.2c-1,0-2,0-3,.05h-.53c-1.21,0-2.56.12-3.11.91a1.81,1.81,0,0,0-.08,1.69v0l0,0a1,1,0,0,0,.44.38,4.12,4.12,0,0,0,1.65.3c.4,0,.81,0,1.2-.07A11.11,11.11,0,0,1,23,31.73a4.12,4.12,0,0,1,.51,0h0l.59,0c.3,0,.57,0,.83.05H25l.42,0L26,32h.46l1,0c.35,0,.71,0,1.07,0s.51,0,.73,0a4.17,4.17,0,0,0,.63-.08,2,2,0,0,0,1.47-.68c.7-.85.55-2.21.42-3.31,0-.13,0-.26,0-.38a2.8,2.8,0,0,1,0-.41v0c0-.23,0-.42,0-.59h0a5.09,5.09,0,0,1,0-.56,2.72,2.72,0,0,1,.07-.52v-.07c0-.23,0-.43,0-.62s0-.4,0-.59h0V21.56h0c0-.16,0-.34,0-.52a3.29,3.29,0,0,0-.58-2.31,1.39,1.39,0,0,0-.41-.31,1.28,1.28,0,0,0-.68-.2,1.64,1.64,0,0,0-1.44,1h0a4.69,4.69,0,0,0-.14,1.08c0,.09,0,.18,0,.27s0,.41,0,.65c0,.77.05,1.56.09,2.32s.09,1.4.1,2.11c0,.2,0,.4,0,.59a.88.88,0,0,1,0,.16l-.49-.47-.38-.4a6.52,6.52,0,0,0-1-1,6.08,6.08,0,0,1-.63-.61h0l-.31-.29c-.34-.32-.65-.59-1-.84l-.34-.32L24,22l-.16-.15-.39-.37h0a15.22,15.22,0,0,1-1.17-1.09,11.47,11.47,0,0,0-1.71-1.5,2.63,2.63,0,0,0-.39-.29,1.7,1.7,0,0,0-.44-.23,1.31,1.31,0,0,0-.38-.06h-.16a1.64,1.64,0,0,0-1.28,1.27A1.09,1.09,0,0,0,18,20.12Z"/>
      <path d="M28.55,11.67c0-.1,0-.2,0-.29v-.26c0-.68,0-1.28,0-1.84,0-1.23,0-2.33.1-3.36V5.83l0,0c-.14.11-.27.23-.41.36a14.88,14.88,0,0,0-1.11,1.14,13.8,13.8,0,0,1-1.32,1.33c-.14.11-.27.22-.41.31a6.53,6.53,0,0,0-.83.77,7.66,7.66,0,0,1-1.11,1l-.36.3c-.28.25-.55.51-.81.77a12.62,12.62,0,0,1-1.72,1.49,4.4,4.4,0,0,1-.39.29,1.92,1.92,0,0,1-.45.23,1.17,1.17,0,0,1-.52.05h0a1.64,1.64,0,0,1-1.29-1.26,1.09,1.09,0,0,1,0-.18A1.14,1.14,0,0,1,17.9,12a4.07,4.07,0,0,1,1.27-1.82l.43-.37h0a27.13,27.13,0,0,0,3.24-2.92l.88-.87.42-.41.57-.58c.44-.43.88-.89,1.35-1.33H24.5c-.62,0-1.11,0-1.74,0l-.58,0h-.53c-1.18,0-3.38-.06-3.38-1.72a2.53,2.53,0,0,1,.16-.85l0-.06a1,1,0,0,1,.45-.38A4.14,4.14,0,0,1,20.1.38a5.71,5.71,0,0,1,.59,0h0c1,.06,1.9,0,2.62,0H24c.58,0,1.19-.06,1.87-.08h.65a13.77,13.77,0,0,0,1.42,0,12.4,12.4,0,0,1,1.61,0,3.65,3.65,0,0,1,.59.08A2.22,2.22,0,0,1,32,2.84V2.9c0,.22,0,.43,0,.59s0,.47,0,.73,0,.74,0,1.07v.12c0,.11,0,.21,0,.32,0,.33.05.69.05,1.09,0,.59,0,1.19-.08,1.78s-.07,1.1-.07,1.62c0,.14,0,.29,0,.44v.06c0,.16,0,.34,0,.51,0,.75,0,2.48-1.6,2.61a1.4,1.4,0,0,1-1.13-.27A2.53,2.53,0,0,1,28.55,11.67Z"/>
      <path d="M.12,4c0,.18.05.37.07.56s0,.39,0,.56a2.94,2.94,0,0,1,0,.44v0c0,.21,0,.39,0,.56s0,.36-.07.52v.07c0,.23,0,.43,0,.62a5.41,5.41,0,0,1,0,.59V8h0v2.52h0c0,.16,0,.34,0,.52a7.16,7.16,0,0,0,0,.92,3.11,3.11,0,0,0,.07.47,1.13,1.13,0,0,0,.34.82,1.55,1.55,0,0,0,1.11.48,1.65,1.65,0,0,0,1.16-.44h0a3.77,3.77,0,0,0,.55-2.34v-.07c0-.18,0-.36,0-.56,0-.59-.05-1.19-.09-1.76S3.23,7.1,3.23,6.4a5.74,5.74,0,0,1,0-.6.78.78,0,0,0,0-.16c.16.14.32.3.5.48l.38.39a6.17,6.17,0,0,0,1,1,5,5,0,0,1,.62.6h0l.3.29q.51.48,1,.84l.35.33.7.66.4.38h0a14.82,14.82,0,0,1,1.16,1.08,12.62,12.62,0,0,0,1.71,1.51c.11.08.24.19.39.29a1.85,1.85,0,0,0,.45.22,1,1,0,0,0,.38.07h.15A1.61,1.61,0,0,0,14,12.51a1.19,1.19,0,0,0-.06-.59,5.32,5.32,0,0,0-2-2.48A8.24,8.24,0,0,1,10.3,7.83v0l0,0L10,7.51h0A26.46,26.46,0,0,1,7.19,4.9c-.44-.45-.88-.9-1.34-1.35h.87c1,0,2,0,3,0h.52c1.22,0,2.56-.11,3.12-.91A1.82,1.82,0,0,0,13.43.9v0l0,0A1,1,0,0,0,13,.46,4.22,4.22,0,0,0,11.3.16h-.11l-.57,0h0A8.46,8.46,0,0,1,9.44.26C8.9.26,8.34.23,7.8.19l-.73,0h-.2l-.31,0A16.51,16.51,0,0,0,4.74,0H4.11a3.47,3.47,0,0,1-.6,0H2.44a3.77,3.77,0,0,0-1.1.14A3.12,3.12,0,0,0,1,.31C-.22,1,0,2.47.07,3.6.09,3.74.11,3.87.12,4Z"/>
      <path d="M0,29.51a3.38,3.38,0,0,0,.08.58A2.22,2.22,0,0,0,2.62,32h.07l.59,0H5.51c.33,0,.69.05,1.09.05h0c.59,0,1.19,0,1.78-.08s1.1-.07,1.62-.07h1c.74,0,2.47,0,2.6-1.6a1.36,1.36,0,0,0-.28-1.13,2.51,2.51,0,0,0-1.89-.6H10.9l-1.84,0c-1.23,0-2.33,0-3.36.1H5.61l0,0L6,28.17c.36-.39.76-.75,1.14-1.1a13.91,13.91,0,0,0,1.33-1.33c.11-.13.22-.27.31-.4a6,6,0,0,1,.77-.84,7.17,7.17,0,0,0,1-1.11c.09-.12.19-.23.3-.35.25-.29.51-.56.77-.82A12.62,12.62,0,0,0,13.1,20.5c.09-.11.19-.25.29-.4a1.69,1.69,0,0,0,.22-.45,1.12,1.12,0,0,0,.06-.51v0a1.61,1.61,0,0,0-1.26-1.29l-.17,0a1.16,1.16,0,0,0-.42.08A4,4,0,0,0,10,19.16l-.37.43h0A28,28,0,0,1,6.7,22.85l-.86.87-.42.42c-.19.2-.38.38-.57.57-.44.44-.89.88-1.33,1.35v-.93c0-.19,0-.39,0-.58v-.06c0-.62,0-1.1,0-1.74,0-.19,0-.39,0-.58s0-.2,0-.3v-.23c0-1.19-.07-3.39-1.73-3.39a2.61,2.61,0,0,0-.85.17.05.05,0,0,0-.05,0,1,1,0,0,0-.38.45,4.14,4.14,0,0,0-.28,1.19c0,.18,0,.38,0,.59h0c.07,1,.06,1.91,0,2.62,0,.21,0,.43,0,.65,0,.57-.05,1.18-.07,1.86,0,.24,0,.45,0,.64h0a13.7,13.7,0,0,1,0,1.42A11,11,0,0,0,0,29.51Z"/>
    </g>
  {:else if type ==='fullscreen-on'}
    <g>
      <path d="M31.92,30.09a5.31,5.31,0,0,0-2-2.48A7.73,7.73,0,0,1,28.28,26l0,0,0,0L28,25.68h0a28.61,28.61,0,0,1-2.77-2.59c-.43-.44-.88-.89-1.34-1.34h.87c1,0,2,0,3-.05h.53c1.21,0,2.56-.12,3.11-.91a1.82,1.82,0,0,0,.08-1.68v0l0,0a.91.91,0,0,0-.45-.37,4,4,0,0,0-1.64-.31,11.7,11.7,0,0,0-1.2.08c-.38,0-.77.07-1.15.07l-.51,0h0l-.58,0L25,18.38h-.07l-.42,0c-.2,0-.41,0-.64-.08H23.4l-1,0c-.35,0-.71,0-1.07,0s-.51,0-.73,0l-.63.08a2,2,0,0,0-1.47.69c-.7.84-.55,2.2-.42,3.3,0,.13,0,.26,0,.38a2.8,2.8,0,0,1,0,.41v0c0,.23,0,.42,0,.58h0c0,.2,0,.38,0,.56a4.35,4.35,0,0,1-.06.52v.06q0,.34,0,.63a5.11,5.11,0,0,1,0,.58v0h0v2.52h0c0,.16,0,.34,0,.52a3.29,3.29,0,0,0,.58,2.31,1.43,1.43,0,0,0,.42.31,1.22,1.22,0,0,0,.67.2,1.62,1.62,0,0,0,1.44-1h0a5.31,5.31,0,0,0,.15-1.08c0-.09,0-.18,0-.27s0-.41,0-.64c0-.78-.05-1.56-.09-2.32s-.09-1.41-.1-2.11c0-.21,0-.4,0-.59a.78.78,0,0,1,0-.16l.49.47.38.39a6.62,6.62,0,0,0,1,1,7.25,7.25,0,0,1,.63.6h0l.31.3c.34.32.65.59,1,.83l.34.33.55.51.15.15.4.37h0a15.22,15.22,0,0,1,1.17,1.09,11.9,11.9,0,0,0,1.7,1.5,4.4,4.4,0,0,0,.39.29,1.92,1.92,0,0,0,.45.23,1.31,1.31,0,0,0,.38.06h.16A1.64,1.64,0,0,0,32,30.68,1.09,1.09,0,0,0,31.92,30.09Z"/>
      <path d="M29.64,10.72h-.55c-.67,0-1.27,0-1.83,0-1.23,0-2.33,0-3.36.1h-.09l0,0c.11-.14.23-.27.36-.41a14.88,14.88,0,0,1,1.14-1.11,15,15,0,0,0,1.33-1.32l.31-.4a6.56,6.56,0,0,1,.76-.84,7.17,7.17,0,0,0,1-1.11l.3-.35c.25-.28.52-.56.78-.82A12.71,12.71,0,0,0,31.3,2.68c.08-.1.19-.24.29-.39a2.31,2.31,0,0,0,.22-.45,1,1,0,0,0,.05-.52v0A1.64,1.64,0,0,0,30.6,0h-.18A1.15,1.15,0,0,0,30,.08a4,4,0,0,0-1.82,1.26l-.36.44h0A28.86,28.86,0,0,1,24.9,5L24,5.9l-.41.42L23,6.89c-.43.44-.88.88-1.32,1.35V7.31c0-.19,0-.39,0-.58V6.67c0-.61,0-1.1,0-1.73,0-.2,0-.4,0-.59V4.06a1.93,1.93,0,0,0,0-.24c0-1.18-.06-3.38-1.72-3.38a2.86,2.86,0,0,0-.85.16L19,.63a1.15,1.15,0,0,0-.37.45,4.13,4.13,0,0,0-.28,1.2c0,.18,0,.37,0,.58h0c.07,1,.06,1.91,0,2.62,0,.21,0,.43,0,.65,0,.57-.05,1.18-.07,1.86,0,.24,0,.44,0,.63v0a13.7,13.7,0,0,1,0,1.42,12.41,12.41,0,0,0,0,1.61c0,.21.05.41.08.59a2.22,2.22,0,0,0,2.53,1.86h.07l.58,0h2.24c.33,0,.69.05,1.09.05.58,0,1.19,0,1.77-.07S27.68,14,28.2,14h1c.74,0,2.47,0,2.6-1.6a1.4,1.4,0,0,0-.27-1.13A2.53,2.53,0,0,0,29.64,10.72Z"/>
      <path d="M13.92,9.85c0-.18-.06-.37-.08-.55a3.88,3.88,0,0,1,0-1v0c0-.2,0-.38,0-.56a4.35,4.35,0,0,1,.06-.52V7.11q0-.35,0-.63a5.11,5.11,0,0,1,0-.58v0h0V3.35h0c0-.16,0-.34,0-.52s0-.61,0-.92,0-.33-.07-.47a1.22,1.22,0,0,0-.34-.82A1.57,1.57,0,0,0,12.35.13a1.6,1.6,0,0,0-1.16.45h0a3.69,3.69,0,0,0-.56,2.33v.63c0,.59.06,1.18.09,1.76s.09,1.41.1,2.11c0,.21,0,.4,0,.59a.78.78,0,0,1,0,.16l-.49-.47-.38-.39a6.62,6.62,0,0,0-1-1,7.25,7.25,0,0,1-.63-.6h0L8,5.41c-.34-.32-.65-.59-1-.83l-.34-.33L6,3.59l-.4-.37h0A15.22,15.22,0,0,1,4.37,2.12,11.9,11.9,0,0,0,2.67.62,4.4,4.4,0,0,0,2.28.33,1.92,1.92,0,0,0,1.83.1,1.31,1.31,0,0,0,1.45,0H1.29A1.64,1.64,0,0,0,0,1.32a1.09,1.09,0,0,0,.07.59,5.31,5.31,0,0,0,2,2.48A7.73,7.73,0,0,1,3.72,6l0,0,0,0,.29.28h0A28.61,28.61,0,0,1,6.84,8.93c.43.44.88.89,1.34,1.34H7.31c-1,0-2,0-3,.05H3.79c-1.21,0-2.56.12-3.11.91A1.82,1.82,0,0,0,.6,12.92v0l0,0a.91.91,0,0,0,.45.37,4,4,0,0,0,1.64.31h.12l.57,0h0a8.46,8.46,0,0,1,1.17-.07c.54,0,1.1,0,1.64.07l.73,0h.2l.3,0a16.7,16.7,0,0,0,1.83.12h.63a4.83,4.83,0,0,1,.59,0l.53,0h.55a3.3,3.3,0,0,0,1.49-.29C14.59,12.74,14.13,10.72,13.92,9.85Z"/>
      <path d="M13.79,20.32c0-.21,0-.41-.08-.59a2.22,2.22,0,0,0-2.53-1.86h-.07l-.58,0H8.29c-.33,0-.69-.05-1.09-.05h0c-.58,0-1.19,0-1.77.07S4.32,18,3.8,18h-1C2,18,.31,18,.19,19.56a1.4,1.4,0,0,0,.27,1.13,2.53,2.53,0,0,0,1.9.59h.55c.67,0,1.27,0,1.83,0,1.23,0,2.33,0,3.36-.1h.09l0,0c-.11.14-.23.27-.36.41a14.88,14.88,0,0,1-1.14,1.11,15,15,0,0,0-1.33,1.32l-.31.4a6.56,6.56,0,0,1-.76.84,7.17,7.17,0,0,0-1,1.11l-.3.35c-.25.28-.52.56-.78.82A12.71,12.71,0,0,0,.7,29.32c-.08.1-.19.24-.29.39a2.31,2.31,0,0,0-.22.45,1,1,0,0,0,0,.52v0A1.64,1.64,0,0,0,1.4,32h.18A1.15,1.15,0,0,0,2,31.92a4,4,0,0,0,1.82-1.26l.36-.44h0A28.86,28.86,0,0,1,7.1,27L8,26.1l.41-.42L9,25.11c.44-.44.89-.88,1.33-1.35v.93c0,.19,0,.39,0,.58v.06c0,.61,0,1.1,0,1.73,0,.2,0,.4,0,.59V28a1.85,1.85,0,0,0,0,.23c0,1.18.06,3.38,1.72,3.38a2.86,2.86,0,0,0,.85-.16l.06,0a1.15,1.15,0,0,0,.37-.45,4.13,4.13,0,0,0,.28-1.2,5.34,5.34,0,0,0,0-.58h0c-.07-1-.06-1.91,0-2.62,0-.21,0-.43,0-.65,0-.57,0-1.18.07-1.86,0-.24,0-.44,0-.63v0a13.7,13.7,0,0,1,0-1.42A12.41,12.41,0,0,0,13.79,20.32Z"/>
    </g>
  {:else if type === 'info'}
    <g>
      <path d="M15.05,5.16a1.39,1.39,0,0,1-1.16-.71,2,2,0,0,1-.23-.27,2.45,2.45,0,0,1-.42-1.82,1.84,1.84,0,0,1,0-.33A2.23,2.23,0,0,1,13.79.7,1.64,1.64,0,0,1,14,.49,2.38,2.38,0,0,1,15.11,0a1.55,1.55,0,0,1,.37,0,2.87,2.87,0,0,1,1.73.47,1.86,1.86,0,0,1,.26.23,2.52,2.52,0,0,1,.71,1.78,2.2,2.2,0,0,1-.05.37l-.06.24L18,3.32c0,.18-.05.35-.09.52l-.06.25c-.49.69-1.09,1.29-1.88,1.08h-.31a1.2,1.2,0,0,0-.28,0Z"/>
      <path d="M22.28,22.56c-.74.33-1.64.93-2.21,1.2l-.27.18a3.83,3.83,0,0,0-.72.68l-.25.17-.22.18c-.51.4-1.05.68-1.65,1.15l-.24.17-.76.52-.32.23a3.07,3.07,0,0,1-1.52.55h-.36a2.68,2.68,0,0,1-.42-.19,3.62,3.62,0,0,1-.38-.26,5,5,0,0,1-.52-.82c-.07-.14-.13-.29-.19-.44a11.19,11.19,0,0,1,.18-5.08c0-.1,0-.2.05-.31l.06-.3c0-.14.07-.28.11-.42s.07-.29.1-.43a38.56,38.56,0,0,1,.68-4.56c0-.15.06-.3.1-.46.11-.45.22-.91.35-1.37,0-.15.07-.29.11-.44.1-.45.22-.9.35-1.37.07-.19.14-.38.2-.58a4.21,4.21,0,0,0,.12-3.09,1.66,1.66,0,0,0-.47-.38A1.12,1.12,0,0,0,13.75,7c-1.8,0-2.4,2.1-2.93,3.19-.05.16-.11.31-.16.46A61.27,61.27,0,0,0,8,24.72a12.43,12.43,0,0,0,.59,4.1,4.61,4.61,0,0,0,1.73,2.35,4.48,4.48,0,0,0,2.83.83,5.45,5.45,0,0,0,1.14-.15,10.92,10.92,0,0,0,3.39-1.48,26.61,26.61,0,0,0,3.68-3c.43-.38.85-.77,1.26-1.16l.21-.2a2,2,0,0,0,.28-.19,1.45,1.45,0,0,0,.21-.22,3.8,3.8,0,0,0,.6-1.07,2.42,2.42,0,0,0,.1-.36c.16-.81,0-1.35-.45-1.56a1.32,1.32,0,0,0-.3-.09,1.63,1.63,0,0,1-.35.05c-.13,0-.27,0-.39,0Z"/>
    </g>
  {:else if type === 'instagram'}
    <g>
      <path d="M31.78,14.32l0-.78c-.05-1.32-.12-2.64-.11-4V9c0-.2,0-.41,0-.62l-.09-.61A7.73,7.73,0,0,0,24.11.29c-.36,0-.72-.08-1.09-.1s-.72,0-1.08,0L20.89.13C19.16,0,17.45,0,15.81,0H10.89A27.86,27.86,0,0,0,6.12.6c-.22.06-.44.13-.65.21A8.78,8.78,0,0,0,.56,6.35q-.11.29-.18.57c-.08.28-.16.56-.22.83C.1,11.48.1,14.7.08,18.13v1.2A18.09,18.09,0,0,0,0,21.27q0,.48.06,1l.15.94c.05.31.11.62.17.93a8.07,8.07,0,0,0,.09,1A7,7,0,0,0,.7,26a6.64,6.64,0,0,0,3,4.17,10,10,0,0,0,.9.52,12.46,12.46,0,0,0,4.87,1.15l1,0c1.37,0,2.59,0,3.79,0H15c.55,0,.91,0,1.47,0l.81.07c1.5-.08,3.29-.08,4.86-.05l.52,0a7.83,7.83,0,0,0,1.08-.07,7.72,7.72,0,0,0,1-.19,7.15,7.15,0,0,0,2.07-.53l.61-.27A5.46,5.46,0,0,0,31,27.69a6.67,6.67,0,0,0,.31-.78,20.72,20.72,0,0,0,.54-3.46c0-.28,0-.57.05-.86C31.62,19.72,32.34,17.21,31.78,14.32ZM28.1,25.62a5.13,5.13,0,0,1-.41.72,4.22,4.22,0,0,1-.53.67,6,6,0,0,1-2.94,1.68c-.28.07-.57.14-.86.19a5.14,5.14,0,0,1-.87.09c-1.39.05-2.69.08-4,.09h-.79c-1.26,0-2.51,0-3.74,0h-.74a24.18,24.18,0,0,1-4.1-.2l-.67-.13a8.45,8.45,0,0,1-.85-.28,7,7,0,0,1-.84-.38C2.55,26,3.19,21.14,3.22,17.39c0-.4,0-.8,0-1.2A33.67,33.67,0,0,0,3,12.59q0-.54,0-1.08A11.71,11.71,0,0,1,4.36,6.28a5.37,5.37,0,0,1,.56-.72A4.11,4.11,0,0,1,5.49,5a8.31,8.31,0,0,1,1-.63,8.52,8.52,0,0,1,1-.49,26.33,26.33,0,0,1,4.38-.48L13,3.38a19.64,19.64,0,0,0,3.06,0l.73,0A63.57,63.57,0,0,1,25,3.91a7.1,7.1,0,0,1,.69.28,5.33,5.33,0,0,1,1.68,1.27,4.54,4.54,0,0,1,.48.67,12.19,12.19,0,0,1,.89,3.73q0,.39.06.78c.06,2.42.06,4.65.07,7v.79C28.81,21,29.16,23.48,28.1,25.62Z"/>
      <path d="M23.63,15.84c0-.45,0-.9-.06-1.34,0-.22,0-.44-.07-.65a5.42,5.42,0,0,0-.13-.74,3.63,3.63,0,0,0-.21-.66A8.4,8.4,0,0,0,19,8.4a8.31,8.31,0,0,0-.89-.25c-.3-.06-.62-.11-.93-.15s-.85-.1-1.28-.17l-.85.1a3.37,3.37,0,0,0-.55,0A3,3,0,0,0,14,8a8.44,8.44,0,0,0-3.13,1.7c-.18.15-.35.31-.52.48a8.15,8.15,0,0,0-1.93,8.27c0,.23.06.47.1.7a5.66,5.66,0,0,0,.27.79,5,5,0,0,0,.39.72,4.1,4.1,0,0,0,.45.58,11.4,11.4,0,0,0,3.52,2.26,7.3,7.3,0,0,0,.79.26,9.56,9.56,0,0,0,3.95-.21l.76-.23A8,8,0,0,0,22,21c.15-.18.29-.36.42-.55a4.87,4.87,0,0,0,.47-.68,5.83,5.83,0,0,0,.35-.71c.08-.28.14-.56.19-.83a7.84,7.84,0,0,0,.08-.82,3.75,3.75,0,0,0,.11-.8A6.57,6.57,0,0,0,23.63,15.84Zm-2.7.55a5.7,5.7,0,0,1-.47,1.47c-.11.24-.24.48-.38.72s-.46.62-.75,1c-.1.11-.2.23-.31.34l-.26.18a3.51,3.51,0,0,1-3.16.72l-.39,0a5.21,5.21,0,0,1-3.59-2l-.2-.25a4.38,4.38,0,0,1-.33-.61,5.17,5.17,0,0,1-.21-.7A6.05,6.05,0,0,1,12,12.42c.11-.12.23-.23.35-.34a5.29,5.29,0,0,1,7-.06,4.07,4.07,0,0,1,.42.41,3,3,0,0,1,.35.45,3.72,3.72,0,0,1,.38.67,5.39,5.39,0,0,1,.5,2.13A4.18,4.18,0,0,1,20.93,16.39Z"/>
      <path d="M24,5.54a2.29,2.29,0,0,1,2.05,2A1.7,1.7,0,0,1,26,8a2.2,2.2,0,0,1-.05.37,2.06,2.06,0,0,1-.12.35,4,4,0,0,1-.49.55l-.21.18a2.27,2.27,0,0,1-3.31-1.17,1.74,1.74,0,0,1-.05-.39,2.2,2.2,0,0,1,0-.36,2.49,2.49,0,0,1,1.56-1.86,1.4,1.4,0,0,1,.28-.06Z"/>
    </g>
  {:else if type === 'key'}
    <path d="M30.7,27.1L14.4,10.9c0.7-1.3,1-2.8,0.9-4.3c-0.2-1.7-0.9-3.3-2.1-4.5C11.9,0.8,10,0,8.1,0S4.3,0.8,2.9,2.1 C1.5,3.5,0.7,5.4,0.7,7.3s0.8,3.8,2.1,5.2c1.2,1.2,2.8,1.9,4.5,2.1c0.2,0,0.5,0,0.7,0c1.3,0,2.5-0.3,3.6-0.9l8.2,8.2l-0.9,0.9 c-0.3,0.3-0.4,0.7-0.4,1.1c0,0.4,0.2,0.8,0.4,1.1l1.2,1.2c0.6,0.6,1.5,0.6,2.1,0l0.9-0.9l1,1L22,28.2c-0.6,0.6-0.6,1.5,0,2.1 l1.2,1.2c0.3,0.3,0.7,0.4,1.1,0.4c0.4,0,0.8-0.2,1.1-0.4l2.1-2.1l0.5,0.5c0.8,0.8,2,0.8,2.8,0C31.5,29.2,31.5,27.9,30.7,27.1z M11.2,7.3c0,0.8-0.3,1.6-0.9,2.2c-0.6,0.6-1.4,0.9-2.2,0.9s-1.6-0.3-2.2-0.9c-1.2-1.2-1.2-3.2,0-4.4c0.6-0.6,1.4-0.9,2.2-0.9 s1.6,0.3,2.2,0.9C10.8,5.7,11.2,6.5,11.2,7.3z"/>
  {:else if type === 'lock'}
    <path d="M25.5,10.2h-2.1V7.6c0-2.1-0.8-4-2.2-5.3C19.8,0.8,17.9,0,15.8,0c-4.2,0-7.6,3.4-7.6,7.6v2.7H6.1c-1.5,0-2.8,1.2-2.8,2.8 v16.2c0,1.5,1.2,2.8,2.8,2.8h19.3c1.5,0,2.8-1.2,2.8-2.8V13C28.2,11.5,27,10.2,25.5,10.2z M17.1,22.4V25c0,0.4-0.2,0.7-0.4,1 c-0.2,0.2-0.6,0.4-1,0.4c-0.7,0-1.3-0.6-1.3-1.3v-2.6c-0.7-0.4-1.2-1.2-1.2-2.1c0-1.4,1.1-2.5,2.5-2.5s2.5,1.1,2.5,2.5 C18.3,21.2,17.8,21.9,17.1,22.4L17.1,22.4z M20.2,10.2h-8.9V7.6c0-1.2,0.5-2.3,1.3-3.1c0.8-0.8,2-1.3,3.1-1.3s2.3,0.5,3.1,1.3 c0.8,0.8,1.3,2,1.3,3.1L20.2,10.2L20.2,10.2z"/>
  {:else if type === 'logo'}
    <path d="M16.53,30.7a6,6,0,0,1-3.13-.59,2.51,2.51,0,0,0-.62-.09c-.57-.06-1.14-.11-1.7-.19-1.13-.18-2.24-.38-3.37-.55a1.63,1.63,0,0,1-1.26-.77,3.7,3.7,0,0,0-1-.92C3.07,25.74,1.16,23.51.71,20.38a17.46,17.46,0,0,1,0-2.4,2.75,2.75,0,0,0-.05-.7A17.42,17.42,0,0,1,0,12.46,7,7,0,0,1,2.13,7.27a.92.92,0,0,0,.17-.22,11.87,11.87,0,0,1,9.82-5.77c.71-.05,1.43.07,2.15.08s1.23,0,1.85-.07a15.14,15.14,0,0,1,5.14.56c1.4.38,2.82.67,4.21,1A9.4,9.4,0,0,1,28.25,4,5.79,5.79,0,0,1,30.74,8.1a10.43,10.43,0,0,1,.2,1.67,2.56,2.56,0,0,0,.3,1.12A9.07,9.07,0,0,1,32,15.15a27.15,27.15,0,0,1-2.08,8.78,5.5,5.5,0,0,1-3.45,3.26c-.47.18-.95.36-1.43.5a11,11,0,0,0-2.53,1.13,11.53,11.53,0,0,1-1.68.6,5.33,5.33,0,0,0-.87.41A5,5,0,0,1,16.53,30.7ZM31,11.37a1.49,1.49,0,0,1,0,.21,24.11,24.11,0,0,1-.9,5.72,8.56,8.56,0,0,0-.3,1.31,8.67,8.67,0,0,1-1.4,4.28c-.56.76-1.2,1.45-1.81,2.17a6.66,6.66,0,0,0-.7.81c-.27.44-.46.92-.71,1.44.68-.29,1.36-.54,2-.85A4.59,4.59,0,0,0,29.48,24q.43-1.11.81-2.22a20.81,20.81,0,0,0,1.32-7.4A7.07,7.07,0,0,0,31,11.37Zm-2.91,7c-.47.7-.89,1.4-1.38,2a19.66,19.66,0,0,0-2.52,3.81,1.84,1.84,0,0,1-.73.76q-2.1,1.24-4.24,2.41a1.26,1.26,0,0,1-.82.14c-.72-.2-1.22.23-1.78.51a5.62,5.62,0,0,0,.7.1,5.34,5.34,0,0,0,3.93-.78c.29-.2.62-.34.89-.55a21.7,21.7,0,0,0,3.27-2.66A12,12,0,0,0,28.06,18.33Zm-24.8-12A18.74,18.74,0,0,1,7.09,4.88a2.18,2.18,0,0,0,.75-.4A15.47,15.47,0,0,1,13.11,1.8l.3-.08,0-.09A11.74,11.74,0,0,0,3.26,6.36Zm23.42,9.92c-.24.42-.49.84-.72,1.26-.75,1.4-1.76,2.64-2.4,4.11-.38.89-.89,1.72-1.33,2.55A10.69,10.69,0,0,0,26.68,16.28Zm-1.83,2.23.1,0c.63-1.15,1.27-2.3,1.91-3.44a.89.89,0,0,0,.07-.28c0-1.66.07-3.32.12-5,0-.41-.26-.56-.59-.7A30.14,30.14,0,0,1,24.85,18.51ZM27.43,5.27c.36.61.73,1.26,1.11,1.9.14.24.31.46.44.71A6,6,0,0,1,29.53,9c.1.34.06.73.13,1.09A13,13,0,0,1,29.85,13c-.05,1.13,0,2.25,0,3.38a.64.64,0,0,0,.12-.25,23.74,23.74,0,0,0,.63-4.9A2.06,2.06,0,0,0,30.36,10a6.57,6.57,0,0,1-1-2.89,1.76,1.76,0,0,0-.42-.88A3.2,3.2,0,0,0,27.43,5.27ZM2.28,13.71a3.77,3.77,0,0,0-.56,2.84,4.16,4.16,0,0,1,.15,1c0,1.62,1.07,2.75,1.93,4A31.88,31.88,0,0,1,2.28,13.71Zm24,6.44.11.06c.6-1,1.21-2,1.79-3a2.25,2.25,0,0,0,.24-.85c.06-.7.08-1.4.09-2.1,0-.42-.05-.83-.08-1.24l-.11,0a16.28,16.28,0,0,0-.71,1.74,7.4,7.4,0,0,0-.18,1.49A7.91,7.91,0,0,1,26.4,19.9C26.36,20,26.34,20.07,26.3,20.15ZM30.55,9.39c-.05-.37-.09-.75-.16-1.12a5.46,5.46,0,0,0-2.5-4,14.26,14.26,0,0,0-3.8-1.36c.19.15.39.27.59.4A9.92,9.92,0,0,0,27.86,5l.07,0a2.8,2.8,0,0,1,1.9,2.54A3.36,3.36,0,0,0,30.55,9.39ZM5.25,26.91c-.06-.1-.13-.19-.19-.28-.75-1-1.5-2-2.22-3a2.84,2.84,0,0,1-.51-1,8.76,8.76,0,0,0-.61-1.74c-.27-.66-.47-1.34-.71-2a7.68,7.68,0,0,0,.77,3.9A13.06,13.06,0,0,0,5.25,26.91ZM10.3,6.3A5.93,5.93,0,0,0,6.66,8.52,18.18,18.18,0,0,0,4,13a10,10,0,0,0-.24,1.21l.09,0C4.76,10.6,7.26,8.23,10.3,6.3Zm-.1,22.54,0-.07L8.15,27.44A.35.35,0,0,0,8,27.38a6.88,6.88,0,0,1-3.11-1.9l-.3-.29c.51.81,1.06,1.57,1.62,2.32a.38.38,0,0,0,.21.14ZM9.75,15.63c-.2.65-.38,1.21-.54,1.78a.48.48,0,0,0,.06.37,6.91,6.91,0,0,0,2,1.83c-.11-.25-.19-.42-.25-.6-.18-.53-.36-1.05-.53-1.59,0-.13,0-.29,0-.41C10.27,16.58,10,16.17,9.75,15.63Zm19.65-.38a1,1,0,0,0-.08.23c-.29,1.21-.6,2.41-.86,3.61a11,11,0,0,1-1.4,3.73,3.44,3.44,0,0,0-.28.65A17.79,17.79,0,0,0,29,19.36,5,5,0,0,0,29.38,18C29.44,17.12,29.4,16.18,29.4,15.25ZM12.06,11,12,10.88a10.21,10.21,0,0,1-.93.58,1.66,1.66,0,0,0-1,1.69c0,.38,0,.77,0,1.15a1.11,1.11,0,0,0,.06.27c.26-.27.47-.53.72-.75a1,1,0,0,0,.36-.7,3.36,3.36,0,0,1,.66-1.68A2.82,2.82,0,0,0,12.06,11ZM4.83,13l-.14,0-.1.25a10.19,10.19,0,0,0-.54,4.41.55.55,0,0,0,.06.28c.36.54.73,1.07,1.1,1.61l.15-.05A10.81,10.81,0,0,1,4.83,13ZM26.08,24a12.33,12.33,0,0,1-4.93,4,3.19,3.19,0,0,0,2.38-.74c.37-.34.79-.62,1.17-.95A4.08,4.08,0,0,0,26.08,24ZM1.51,14.42c.19-.5.4-1,.59-1.51a6.71,6.71,0,0,0,.33-1.05A10.74,10.74,0,0,1,3.2,9c0-.09.07-.18.1-.27A7.15,7.15,0,0,0,1.51,14.42ZM5.66,24.89,2.28,20.08C2.55,22.37,4,23.7,5.66,24.89Zm-2.12-17L3.48,7.8l-1.16.59a1.23,1.23,0,0,0-.62.74,13.74,13.74,0,0,0-.82,5c0,.31,0,.62.05.93s0,.59.08.89h.12a13.4,13.4,0,0,1,.19-4.33A7.53,7.53,0,0,1,3.54,7.88ZM10.45,21.7l-.09.08a3.91,3.91,0,0,0,.79.83A17.17,17.17,0,0,0,13,23.5a.73.73,0,0,0,.48.06c.51-.2,1-.44,1.52-.67A8.92,8.92,0,0,1,10.45,21.7Zm18.1-10.43a9.57,9.57,0,0,0-.31-3c-.19-.71-.38-.87-1.17-.94.12.42.24.83.35,1.24a2.85,2.85,0,0,0,.68,1.46,1.62,1.62,0,0,1,.29.65C28.45,10.89,28.5,11.08,28.55,11.27ZM8.85,4.38l6-2.5C14,1.65,9.83,3.3,8.85,4.38Zm.74,9c-.37.86-.7,1.63-1,2.41A1.2,1.2,0,0,0,8.8,17c.29-.62.58-1.23.86-1.84a.48.48,0,0,0,0-.2C9.67,14.49,9.63,14,9.59,13.42Zm15.34.48c.49-1.43.91-2.86,0-4.35C24.55,11,25.09,12.47,24.93,13.9ZM8,24.9a13.38,13.38,0,0,1-1-1.61c-.33-.7-1-.9-1.54-1.3C6.08,23.12,6.52,24.45,8,24.9Zm17.6-11.11-2.16,6.92.1,0A24.55,24.55,0,0,0,25.59,13.79ZM2.26,7.85l.06.05,2-.82L4.4,7,5.49,5.83H5.4A9,9,0,0,0,2.65,7.34,2.86,2.86,0,0,0,2.26,7.85Zm18.39,8,.1,0c1.1-1.07,1.5-2.15.89-3.25Zm-7.53,3.68c.44.29.8.55,1.2.76a.91.91,0,0,0,1.36-.5,11.6,11.6,0,0,1-1.44-.34A1.28,1.28,0,0,0,13.12,19.55ZM3.28,14.11,4.39,9.56,4.3,9.45c-.08.14-.17.28-.25.43A7.92,7.92,0,0,0,3.28,14.11ZM18.19,24.73a6.11,6.11,0,0,0,2.34-2.89L19,23.12a.52.52,0,0,0-.13.17C18.66,23.77,18.42,24.25,18.19,24.73ZM15.82,23,15.77,23l-.28.11c-.53.25-1.07.49-1.59.75a1.25,1.25,0,0,1-1.2,0c-.33-.17-.68-.32-1-.48l-.07.1c.25.18.49.46.76.5.78.12,1.58.15,2.38.2A.32.32,0,0,0,15,24C15.29,23.7,15.55,23.36,15.82,23Zm1.25,6.63a11.57,11.57,0,0,0,4.44-1.2,5.38,5.38,0,0,0-1.51.13C19,28.89,18,29.29,17.07,29.65ZM12.2,8l0-.08L11,8.08a.55.55,0,0,0-.29.13L9.26,9.93l.05,0ZM4.12,20.74,4,20.79a8.11,8.11,0,0,0,1.33,2.74A3.19,3.19,0,0,0,6,24l.07-.07c-.07-.11-.15-.21-.21-.32-.39-.69-.77-1.39-1.18-2.08C4.54,21.26,4.32,21,4.12,20.74Zm19.26-3.82a4.79,4.79,0,0,0,1.13-4.05Zm-.3,3.41-.16.25A12.26,12.26,0,0,1,20.4,24a1.86,1.86,0,0,0-.32.61l.1.06A9.63,9.63,0,0,0,23.08,20.33Zm-.17-.82-.14-.11a4.72,4.72,0,0,0-.75.8c-.41.72-.77,1.47-1.14,2.22a4.48,4.48,0,0,0-.21.55l.15.07Zm-1.2-15-.06.12c.22.21.4.53.65.6a9.56,9.56,0,0,0,1.51.17c-.07-.61-.07-.63-.63-.73S22.2,4.55,21.71,4.5ZM12.17,21.78V21.7l-.68.07a7.18,7.18,0,0,0,4,.58A10.44,10.44,0,0,0,14.34,22a9.46,9.46,0,0,0-1.18-.13c-.18,0-.36,0-.54,0A2.59,2.59,0,0,1,12.17,21.78Zm4.89,1.84a3.3,3.3,0,0,0,2-1.94A4.67,4.67,0,0,0,17.06,23.62ZM16.92,2.54a9.91,9.91,0,0,0-3.81,1A11.6,11.6,0,0,0,16.92,2.54ZM6.3,8.3c-.45.31-1,.48-1.16.82a13.7,13.7,0,0,0-.81,2l.07,0Zm-3,1.85L5.11,7.27C4.43,7.39,3.32,9.11,3.25,10.15ZM11,20,9.16,18.37a1.09,1.09,0,0,0,.89,1.37c.13,0,.24.11.37.14S10.73,19.92,11,20ZM6.77,28.26a1,1,0,0,0,.81.6l1.59.27,1.53.24v-.06ZM18.86,30H14.39A7.19,7.19,0,0,0,18.86,30ZM.48,14.25A15.19,15.19,0,0,1,1.34,8.9,8.34,8.34,0,0,0,.48,14.25Zm19.84-3.1c-.25-.92-.5-1.21-1-1.2.05.32.09.65.15,1a.53.53,0,0,0,.11.21C19.8,11.48,20.06,11.26,20.32,11.15Zm1.42,4.21a7.85,7.85,0,0,1-.8.93c-.48.42-.38,1-.41,1.5A8.77,8.77,0,0,0,21.74,15.36ZM10.62,16.43,11,14.27A1.33,1.33,0,0,0,10.62,16.43Zm-5,.46.25,2.58H6a8.76,8.76,0,0,1,.18-1.16A1.17,1.17,0,0,0,5.62,16.89Zm20-6.78.09,0c0-.29.06-.59.08-.88,0-.57-.17-.82-.77-.91C24.89,9,25.53,9.46,25.62,10.11ZM7.87,15.21h-.1a3.71,3.71,0,0,0,.33,3Zm.61,7L7,20C7.19,20.87,7.41,21.78,8.48,22.16ZM19.1,20.31c-.23.11-.44.21-.66.3s-.46.14-.67.25a4,4,0,0,0-.48.36A1.39,1.39,0,0,0,19.1,20.31ZM15.56,24a2.63,2.63,0,0,0,1.54-1.59c-.21.09-.46.12-.58.26C16.17,23.11,15.88,23.57,15.56,24Zm2.22,4.63v-.12c-.62-.07-1.26-.1-1.88-.2a.86.86,0,0,0-.79.31v.11ZM19.35,2.06V2l-2.61-.12V2A4.23,4.23,0,0,0,19.35,2.06Zm9.76,18.09-1.83,3.51A7.63,7.63,0,0,0,29.11,20.15ZM18.22,23.82l-1.69,1c1.16.14.83.34,1.46-.61A3.43,3.43,0,0,0,18.22,23.82ZM6.87,10.1,6.77,10a4.29,4.29,0,0,0-1.39,2.31Zm-.43,15c.46.9,1.37,1.08,2.14,1.48l.08-.12Zm15.5.22c.83-.47,1.82-.72,2.13-1.82Zm0-13.86.39,1.76c.09-.35.17-.61.23-.87C22.7,11.77,22.55,11.56,22,11.45Zm-2.21.42c-.22.09-.46.21-.31.46.26.42.57.81.85,1.2A2.44,2.44,0,0,0,19.74,11.87ZM13,13.6c-.56.58-.61.86-.19,1.45.13-.15.36-.3.36-.44A5.92,5.92,0,0,0,13,13.6Zm6.24,4.47c.7.1.85-.05.91-1.08Zm-7.5,8.5c-.66-.1-1.13-.65-1.81-.43A1.69,1.69,0,0,0,11.74,26.57Zm9.2-13.28c.55-1.1.53-1.47,0-1.86Zm2.88,3.82c-.39.7-1.1,1.18-1.3,2A4.11,4.11,0,0,0,23.82,17.11ZM28,11l-.21,2.18A1.85,1.85,0,0,0,28,11ZM4.21,20.24,3.62,18A2.39,2.39,0,0,0,4.21,20.24Zm5.2-9.72a2.89,2.89,0,0,0-1.32,1.81C8.44,11.66,9.19,11.28,9.41,10.52ZM4.72,19.45l-.08.06,1.31,2A3.61,3.61,0,0,0,4.72,19.45ZM14.49,8.58A1.51,1.51,0,0,0,16,8.38C15.44,7.93,15,8.3,14.49,8.58Zm2.72,1.89-.42-.85-.81.61Zm-1.08.75c-.63-.46-.84-.47-1.14-.05C15.66,11.58,15.75,11.58,16.13,11.22ZM1.28,16.88a4.49,4.49,0,0,0,.53,2.61Zm16-5c-.67-.53-.68-.54-1.06-.2C16.78,12.24,16.78,12.24,17.3,11.88ZM7.45,7.08,7.39,7A3.57,3.57,0,0,0,5.61,8.31Zm7,22a4.52,4.52,0,0,0,2.84,0Zm1.68-7.89,0-.12-1.73.09v.13c.48,0,1,.08,1.46.1C15.92,21.38,16,21.25,16.13,21.18Zm3.41-1.6,0-.06c-.41.08-.81.16-1.22.22s-.34.05-.39.49ZM18.38,19l1.27-.45C18.7,18.39,18.7,18.39,18.38,19ZM26.05,6.79l.12-.1A4.05,4.05,0,0,0,25,5.31l-.08.06ZM16.22,19H14.63a5.27,5.27,0,0,0,1.08.3A.37.37,0,0,0,16.22,19Zm-4,7.79a4.61,4.61,0,0,0,2.42.27Zm1-10.59h-.12c0,.34,0,.67,0,1s.16.33.39.25ZM27,8.94l-.32-1.33C26.39,8.49,26.44,8.69,27,8.94ZM6.07,16.46l-.19-1.64C5.81,15.38,5.47,16,6.07,16.46Zm3.22-3.32a1.56,1.56,0,0,0-.68,1.6Zm9.65-2.34c.06-.79-.18-1.15-.64-1.13Zm-8.6,10c.53.27,1,.76,1.65.49Zm.75,7.43A1.39,1.39,0,0,0,9.6,27.6ZM24.17,11.92a3.29,3.29,0,0,0,.09-1.68A2.5,2.5,0,0,0,24.17,11.92ZM20.62,7V6.84l-1.35-.13C19.71,7.25,20.17,7.09,20.62,7Zm-5.46,4.84c-.69,0-1.07.21-1.2.6C14.35,12.11,14.89,12.29,15.16,11.79Zm3.27,14.27a.76.76,0,0,0,.85-.67C18.81,25.37,18.67,25.76,18.43,26.06ZM22.25,3.37a1.53,1.53,0,0,0-1.56-.51ZM9.5,8.88l-.1-.07a10.69,10.69,0,0,0-1.08,1.81l.07,0ZM16,27.5v-.12a2.4,2.4,0,0,0-.7-.06,12.31,12.31,0,0,0-1.21.32ZM8.83,5.64l0-.09a2.13,2.13,0,0,0-1.47.68ZM18.91,8.53l-.06.09,1.23.74.09-.14A3.11,3.11,0,0,0,18.91,8.53Zm-6.56.11,1.35-.73C13.31,7.83,13,8,12.35,8.64Zm1.51,20.41,0-.12-2.17-.64,0,.11Zm13.59-18.7v2.1A3.94,3.94,0,0,0,27.45,10.35ZM5.07,25,5,25.16l1.66,1.05.06-.09ZM16,2.18l0-.11a5.48,5.48,0,0,0-1.81.58Zm2.3,11.19-.16,0c0,.28,0,.56.06.84,0,0,.16.06.33.13Zm-3.1-3.24.1.15,1.16-.88-.06-.09ZM24.44,6c.13.59.28.69.91.6ZM20.1,3.19l0-.09c-.45-.07-.87-.38-1.35-.14v.11Zm2.43,5.46a1.66,1.66,0,0,0-1.39-.76Zm-1.23.72,1.21,1.32A2.66,2.66,0,0,0,21.3,9.37Zm-8.91,4.24.77-1A.9.9,0,0,0,12.39,13.61Zm8.24-4.18c0,.45.11.59.58,1C21.07,10,21.07,9.62,20.63,9.43Zm-7.13,11,0-.08c-.84-.71-.84-.71-1-.51ZM15.09,7.08l0,.18,1.4-.33,0-.11Zm.64-2.94,0,.13L17,4.11,17,4C16.57,4.1,16.13,3.91,15.73,4.14ZM8.8,5l0,.14,1.29-.4,0-.14Zm5.1,8.52.52-.84C13.84,12.75,13.83,12.78,13.9,13.49Zm12-5.64c0-.62-.15-.83-.57-.75Zm-.71-3.53.08-.1L24,3.35l-.07.09Zm-4.66,7.19-.38.16.39.67.06,0ZM21.84,7.2l.78.73C22.28,7.13,22.23,7.08,21.84,7.2ZM13.78,8.54l-.09-.12L12.7,9l.08.13Zm.45-1.88-.05-.14-1.1.38.06.15Zm1.31,15.19c.68.19.92.15,1-.12ZM21,24.91,21,24.79l-1,.66.08.13Zm3.75-17.8a.75.75,0,0,0,.69.86ZM6.2,13.58h.09l.4-1.83-.1,0Zm7.08-3.29-.1-.07-.92,1.28.09.06Zm-3,.49-.13-.11-.7.83.12.1ZM21.82,23.85l.1,0,.8-1.36-.1-.06ZM8,25.32l-.06.12.95.54.08-.13Zm12.32-4.16-.09-.08c-.4.17-.47.6-.73.88l.07.06ZM14.13,5.59A1.14,1.14,0,0,0,13,6.05Zm2.09.08a1,1,0,0,0-1.17.11Zm.9,12.91.28.42.41-.67Zm5.11-7.52-.6-.82C21.78,11,21.8,11,22.23,11.06Zm-.68-3.52a.71.71,0,0,0-1-.09ZM5.2,21.37l.13-.1-.6-.88-.1.06ZM11.75,7.42l0,.13,1.15-.12V7.32Zm2.84,21-1.19-.07C13.79,28.44,14.18,28.71,14.59,28.42Zm9.8-20.87c-.07-.58-.09-.59-.61-.47ZM7.07,18.61l-.16.06.35.89.1,0ZM23.31,6.12c.27.56.28.57.73.43ZM18.2,4.24v.09l1.43-.1V4.12ZM11.31,26l.9.31,0-.1C11.92,26.2,11.69,25.89,11.31,26Zm6.23-6.18-.09-.08-.44.6C17.49,20.4,17.44,20.06,17.54,19.86ZM11.43,4.43l0,.11,1.1-.21,0-.09Zm5,16.85.1.16.48-.29-.1-.16ZM21.33,19,21.2,19l-.46.79.1.05Z" transform="translate(0 -1.25)"/>
  {:else if type === 'map'}
    <g>
      <path d="M14.17,13a1.12,1.12,0,0,1-.45.87c-.15.1-.42.18-.52.09l-.12-.06a.77.77,0,0,1-.19-.16l-.13-.13a.86.86,0,0,0-.3-.23.86.86,0,0,0-.14-.13l-.16-.17c-.49-.48-1-.91-1.51-1.37l-.13-.13L9.31,10.46l-.12-.12A3.11,3.11,0,0,1,8.82,10L8.7,9.89l-.45-.42c-.08-.06-.14-.13-.21-.19a2.36,2.36,0,0,1-.64-.59l-.09-.15c-.15-.1-.16-.35,0-.58a.88.88,0,0,1,.82-.49l.15,0a2.08,2.08,0,0,1,1,.79l.12.13c.2.21.4.43.6.62l.15.14a3.74,3.74,0,0,1,1,.77l.17.17a11.77,11.77,0,0,0,1.07,1.05l.17.15c.15.14.32.27.49.41l.18.13c.28.32.66.53.89.83a.83.83,0,0,1,.08.12.49.49,0,0,1,.06.13Z"/>
      <path d="M19.38,11.56a1.14,1.14,0,0,1-.95-.27c-.13-.12-.27-.37-.19-.48a.35.35,0,0,1,0-.14,1,1,0,0,1,.11-.21l.1-.15a1.54,1.54,0,0,0,.17-.34l.09-.17.13-.2c.37-.57.67-1.18,1-1.76L20,7.69l.84-1.42.09-.14a3,3,0,0,1,.25-.44l.08-.14L21.57,5c.05-.08.1-.16.14-.24A2.41,2.41,0,0,1,22.16,4a.8.8,0,0,1,.13-.13c.06-.17.3-.23.55-.17a.92.92,0,0,1,.66.7v.15a2,2,0,0,1-.57,1.11l-.1.15a8,8,0,0,0-.48.71l-.1.17a4.2,4.2,0,0,1-.55,1.1L21.56,8a10.43,10.43,0,0,0-.8,1.27l-.11.19c-.1.18-.2.37-.29.57s-.07.13-.1.2c-.25.34-.37.76-.63,1.05l-.1.1-.11.09Z"/>
      <path d="M19.82,16.66a1.11,1.11,0,0,1-.16-1c.05-.17.22-.4.36-.38l.13,0a.92.92,0,0,1,.24,0l.18,0a1.21,1.21,0,0,0,.38,0h.19l.23,0c.68.09,1.36.11,2,.19l.19,0,1.63.15.17,0a3.68,3.68,0,0,1,.5.05h.16l.61.06.29,0a2.36,2.36,0,0,1,.86.09l.17.06c.18,0,.34.18.39.43a.88.88,0,0,1-.36.89l-.14.07a2.09,2.09,0,0,1-1.24,0l-.17,0c-.29-.05-.57-.11-.85-.14l-.2,0a3.89,3.89,0,0,1-1.23,0l-.25,0A10.63,10.63,0,0,0,22.44,17h-.22a4.43,4.43,0,0,0-.64,0h-.22c-.42-.09-.84,0-1.21-.13l-.14,0-.13-.07Z"/>
      <path d="M16.46,19.17a1.13,1.13,0,0,1,.88-.42c.19,0,.45.1.48.23l.06.12a.74.74,0,0,1,.05.23l0,.19a1.27,1.27,0,0,0,.1.37c0,.06,0,.12,0,.18l0,.23c.11.68.28,1.34.4,2l0,.17.31,1.62,0,.17a3.2,3.2,0,0,1,.09.49l0,.16.12.6c0,.1,0,.19.05.28a2.35,2.35,0,0,1,.16.86c0,.06,0,.11,0,.17s-.08.38-.3.5a.91.91,0,0,1-1-.09L18,27.12a2.05,2.05,0,0,1-.3-1.2,1.1,1.1,0,0,1,0-.18c0-.29-.06-.57-.11-.85,0-.07,0-.13,0-.2a3.55,3.55,0,0,1-.31-1.19c0-.08,0-.16,0-.24a10.75,10.75,0,0,0-.24-1.49,1.6,1.6,0,0,0-.05-.21,5.06,5.06,0,0,0-.15-.62l-.06-.21c0-.43-.22-.82-.22-1.2a.76.76,0,0,1,0-.15.68.68,0,0,1,0-.14Z"/>
      <path d="M12,16.32a1.15,1.15,0,0,1,.56.81c0,.19,0,.46-.17.5a.35.35,0,0,1-.1.08.64.64,0,0,1-.22.09l-.18.06a1.19,1.19,0,0,0-.35.15l-.18.07-.22.07c-.66.2-1.28.47-1.92.69L9,18.9l-1.55.55-.16.06-.48.16-.15.06-.58.2-.27.1a2.27,2.27,0,0,1-.82.28H4.82c-.16.1-.39,0-.54-.22a.88.88,0,0,1,0-1A.94.94,0,0,1,4.32,19a2.1,2.1,0,0,1,1.15-.48l.17-.05a7.08,7.08,0,0,0,.82-.24l.19-.06a3.77,3.77,0,0,1,1.13-.49L8,17.63a11.91,11.91,0,0,0,1.43-.46l.2-.09a4.29,4.29,0,0,0,.59-.24l.2-.09c.42-.1.78-.34,1.16-.41h.29Z"/>
      <path d="M21.54,15.4a5.48,5.48,0,0,1,0,.81,6.31,6.31,0,0,1-.08.76,5.31,5.31,0,0,1-4.13,4,6.94,6.94,0,0,1-.93.15,6,6,0,0,1-2.76-.39,4.17,4.17,0,0,1-.61-.38A6.56,6.56,0,0,1,11,17.44a4.59,4.59,0,0,1-.17-.82,5.89,5.89,0,0,1,1-4.09,4.35,4.35,0,0,1,.38-.57,4,4,0,0,1,.46-.46,5.38,5.38,0,0,1,6.56-.42,6.61,6.61,0,0,1,.74.53,4.05,4.05,0,0,1,1.56,3.15C21.52,15,21.54,15.19,21.54,15.4Z"/>
      <path d="M22.55.91,23,.75a3,3,0,0,1,.43-.1,3,3,0,0,1,2.94,1.48,3.1,3.1,0,0,1,.26.47,3.53,3.53,0,0,1,.31,1.57,2.59,2.59,0,0,1-.09.4,3.73,3.73,0,0,1-1.19,1.68,2.8,2.8,0,0,1-.41.25,3.42,3.42,0,0,1-2.4.23l-.38-.1a2.59,2.59,0,0,1-.33-.17A3.06,3.06,0,0,1,20.65,3a4.91,4.91,0,0,1,.15-.51,2.35,2.35,0,0,1,1.41-1.43A3.49,3.49,0,0,1,22.55.91Z"/>
      <path d="M25.89,16.23a4.56,4.56,0,0,1,.14-.44,3.71,3.71,0,0,1,.19-.4,3.05,3.05,0,0,1,3-1.4,4.71,4.71,0,0,1,.52.09,3.48,3.48,0,0,1,1.43.73,4,4,0,0,1,.26.32,3.74,3.74,0,0,1,.58,2,3.93,3.93,0,0,1-.06.48,3.38,3.38,0,0,1-1.31,2,2.34,2.34,0,0,1-.31.24L30,20a3.09,3.09,0,0,1-3.63-1,4.15,4.15,0,0,1-.3-.43,2.34,2.34,0,0,1-.25-2A2,2,0,0,1,25.89,16.23Z"/>
      <path d="M16,28.47A3.55,3.55,0,0,1,16,28c0-.15,0-.29,0-.44a3,3,0,0,1,2.28-2.37,3.12,3.12,0,0,1,.53-.11,3.59,3.59,0,0,1,1.59.17l.35.2A3.8,3.8,0,0,1,22,27.09a2.66,2.66,0,0,1,.11.47,3.36,3.36,0,0,1-.49,2.36,1.85,1.85,0,0,1-.21.33,2.27,2.27,0,0,1-.26.28,3.07,3.07,0,0,1-3.74.37,4.17,4.17,0,0,1-.44-.29A2.35,2.35,0,0,1,16,28.84C16,28.72,16,28.6,16,28.47Z"/>
      <path d="M2.15,23a3.16,3.16,0,0,1-.43-.16,2.38,2.38,0,0,1-.39-.2,3,3,0,0,1-1.28-3,3.12,3.12,0,0,1,.11-.53,3.36,3.36,0,0,1,.78-1.39,1.59,1.59,0,0,1,.33-.25,3.77,3.77,0,0,1,2-.51,2.43,2.43,0,0,1,.47.08,3.36,3.36,0,0,1,2,1.39,2.57,2.57,0,0,1,.22.32,2.07,2.07,0,0,1,.15.34A3.09,3.09,0,0,1,5,22.67a4.08,4.08,0,0,1-.44.28,2.35,2.35,0,0,1-2,.18Z"/>
      <path d="M9.55,10a4.5,4.5,0,0,1-.37.28,2.88,2.88,0,0,1-.38.22A3,3,0,0,1,5.55,10,3.55,3.55,0,0,1,4.43,8.16a2.83,2.83,0,0,1,0-.41A3.68,3.68,0,0,1,5.06,5.8a2.17,2.17,0,0,1,.32-.36,3.41,3.41,0,0,1,2.24-.9H8l.37.06a3.08,3.08,0,0,1,2.39,2.9,4.69,4.69,0,0,1,0,.53A2.32,2.32,0,0,1,9.83,9.8,3.11,3.11,0,0,1,9.55,10Z"/>
    </g>
  {:else if type === 'pause'}
    <g>
      <path d="M27.31,31.39c-.15.24-.15.24-.49.45l-.17,0a2.2,2.2,0,0,1-.51,0H26c-.31,0-.61,0-.89,0l-.2,0h-.28c-.3,0-.6,0-.9,0l-1.26-.08-.25,0a14,14,0,0,1-2.59,0h-.19a1.54,1.54,0,0,1-.46.05.65.65,0,0,1-.2,0c-.79-.24-.79-.79-.81-1.51v-.18c0-.34,0-.65,0-.93v-.18c0-.38,0-.76,0-1.13v-.83c0-2,0-3.91,0-6v-.94c0-.93,0-1.84,0-2.72,0-.69.06-1,.07-1.73s0-1.5.06-3.4c0-1,0-2.21,0-3.4,0-.84,0-1.37,0-2.36,0-.36,0-1.48-.06-1.84,0-.06,0-1.21,0-1.34a8.77,8.77,0,0,1,0-1.14A1.81,1.81,0,0,1,18,2c-.08-.81-.08-1.36.79-1.79l.33-.08a5.32,5.32,0,0,1,1.11,0l.2,0a15.47,15.47,0,0,0,2.1-.07h.23a15.28,15.28,0,0,0,1.65,0h.34a8.31,8.31,0,0,1,1.87,0,1.42,1.42,0,0,1,.29.1,1.32,1.32,0,0,1,.6,1.21c0,.09,0,.18,0,.28-.05,1.19-.05,2-.06,3.24a1.77,1.77,0,0,1,0,.23l0,.69V9.66c0,3.61,0,6.9,0,10.57,0,.33,0,.65,0,1,0,1.68,0,3.31,0,5v.73c0,.71,0,1.33,0,2,0,.07,0,.14,0,.2,0,.29,0,.53,0,.76V30a3.79,3.79,0,0,1-.12,1.35Z"/>
      <path d="M14.32,31.19a.58.58,0,0,1,0,.19.35.35,0,0,1-.06.14.65.65,0,0,1-.18.22l-.16.1c-.56.07-1.17.07-1.8.14l-.21,0h-.22l-.17,0c-.28,0-.54,0-.92,0l-.25.05-.44,0H9.44l-.36,0H8.71a10,10,0,0,1-2.12-.12l-.32-.07-.16,0a1.3,1.3,0,0,1-1.22-.41l-.1-.15c0-.41,0-.76-.1-1.1l0-.17c-.24-.5.07-1.32,0-1.87a1.8,1.8,0,0,0,0-.22,51.27,51.27,0,0,0,.16-6.06c0-.31,0-.62,0-.93,0-1.29,0-2.58,0-3.88,0-.33,0-.65,0-1,0-2.13,0-4.17,0-6.22,0-.68,0-1.37,0-2.06,0-.12,0-.23,0-.34s0-.23,0-.35a4.54,4.54,0,0,1,0-1.68l0-.33c0-.86,0-1.73,0-2.61V2.09c-.3-1.43.62-2.25,2-2L7,0l.28,0,.22,0,.22,0H9.84c.36,0,.77,0,1.15.05h.37c1.66,0,3.51,0,2.9,1.81,0,.12,0,.23,0,.35s0,.25,0,.37a.57.57,0,0,1,0,.13c0,.33,0,.67,0,1a1.77,1.77,0,0,1,0,.23c-.09,1.51-.06,3,0,4.48,0,.31,0,.62,0,.93,0,2.36.05,4.81,0,7.22,0,.34,0,.69,0,1,0,.67,0,1.33,0,2v1.92c0,1.23,0,2.46,0,3.7,0,.31,0,.62,0,.93,0,.61,0,1.25,0,1.9,0,.13,0,.26,0,.39a7.86,7.86,0,0,0,.07.91c0,.07,0,.13,0,.2a4.13,4.13,0,0,0,0,1.53A.79.79,0,0,1,14.32,31.19Z"/>
    </g>
  {:else if type === 'play'}
    <path d="M7.32.05a2.93,2.93,0,0,1,.61.19,19.14,19.14,0,0,1,3.34,2.25l.76.58a71,71,0,0,0,6.16,4.39L19,8c2.12,1.6,4,3.38,6.16,5a11.92,11.92,0,0,1,1.13.86,4.06,4.06,0,0,1,.59.58c1.69,2.16-1.72,3.77-3.31,5.24l-.78.59c-2.83,2.18-5.54,4.48-8.41,6.63l-.79.63-.89.73-.59.41-.58.44a17.07,17.07,0,0,1-3,2.44,3.34,3.34,0,0,1-2.81.19,1.32,1.32,0,0,1-.52-.56c-.43-.87,0-2.15-.19-3,0-.22,0-.43,0-.64s0-.4,0-.6,0-.37,0-.55c-.06-.91-.13-1.82-.24-2.76,0-.36,0-.72,0-1.08s0-.72.06-1.07,0-.7,0-1a50.29,50.29,0,0,0,.29-8.11c0-.27,0-.54,0-.81A6.34,6.34,0,0,1,5,10.84c0-.25,0-.5,0-.75,0-1.65,0-3.25,0-4.86,0-.23-.13-1.47-.16-1.64A4.5,4.5,0,0,1,4.75,2c0-.26-.06-.53.06-.77A1.42,1.42,0,0,1,5.4.48,3.28,3.28,0,0,1,6.17.09,2.54,2.54,0,0,1,7.32.05Z"/>
  {:else if type === 'volume-off'}
    <g>
      <path d="M16.81,17.69c.05-1.64.07-3.29,0-5,0-.15,0-.3,0-.44s0-.29,0-.44,0-.38,0-.58c0-.59.05-1.63.05-2.25,0-.81,0-1.85,0-2.06,0-1.4,0-1.7-.05-3.23a1.75,1.75,0,0,0-2.73-1.49s-1.88,1.13-3,1.78c-1.26.77-3.66,2.05-5,3S3,9,2.15,9.8a11.11,11.11,0,0,0-1,.85,2.76,2.76,0,0,0-.77.91,2.42,2.42,0,0,0-.29,1c0,.34,0,1.13,0,1.47s0,3.43,0,4.55a5.11,5.11,0,0,0,.05.55,4.07,4.07,0,0,0,.08.61c.51,1.09,2.19,2.34,3,3S5.42,24.44,6.07,25s2.25,1.53,3.43,2.34c.58.4,2.85,1.84,3.85,2.34,1.6.82,3.48.17,3.48-2,0-1.63,0-2.46,0-4.46,0-.16,0-2.34,0-2.49a15.72,15.72,0,0,0-.05-2.37C16.79,18.16,16.8,17.93,16.81,17.69ZM14,10.25c0,.13,0,3.79,0,3.89,0,1.08,0,2.15,0,3.22,0,.15,0,1.43,0,2.5,0,.1,0,1.65,0,2.35a17.84,17.84,0,0,1,0,2.48,1,1,0,0,1-.79.91c-.47.12-.9,0-1.73-.52-.12-.07-1.59-.84-2-1.19-.08-.1-1.22-.89-1.69-1.27-.69-.56-1.92-1.52-2.84-2.27a5.08,5.08,0,0,1-1.59-1.68,2.28,2.28,0,0,1-.06-.39c0-.12,0-.24,0-.36,0-.73,0-1.43,0-2.24,0-.16,0-1.39,0-1.61a1.94,1.94,0,0,1,.2-.7,2,2,0,0,1,.5-.6,4.79,4.79,0,0,1,.49-.52,11.55,11.55,0,0,1,1.79-1.33L8.5,9.32a20.88,20.88,0,0,0,2.1-1.19c.93-.56,1.16-.65,1.74-1A1.07,1.07,0,0,1,14,8.1C14,9.05,13.94,9.49,14,10.25Z"/>
      <path d="M29.79,21.19a1.21,1.21,0,0,0-.05-.18,2.36,2.36,0,0,0-.2-.31l-.1-.14a8.62,8.62,0,0,0-.8-.8l-.39-.37-.14-.14c-.23-.29-.49-.58-.74-.86l-.15-.17a6,6,0,0,1-.62-.71l-.06-.08-.13-.17-.11-.15a.33.33,0,0,1,.06-.08l1.16-1.43.05,0,.05-.06,0-.05a1.29,1.29,0,0,1,.25-.29l.11-.1.2-.16.09-.06a.69.69,0,0,0,.17-.17l.06-.07a.68.68,0,0,1,.12-.12c.46-.4,1.14-1,.92-1.87a.79.79,0,0,0-.8-.58,1.63,1.63,0,0,0-.72.2,2,2,0,0,0-.29.22,3.18,3.18,0,0,0-.36.37l-.12.18-.21.27-.14.17-.26.25-.14.14-.2.2-.1.1a6.29,6.29,0,0,0-.43.47l-.27.31-.09.08a3.31,3.31,0,0,0-.31.36l-.06.08-.23-.31-.2-.26c-.28-.36-.8-1-1.08-1.5l-.12-.18-.19-.25a1.41,1.41,0,0,0-.14-.18,1.37,1.37,0,0,0-1.31-.87,1.78,1.78,0,0,0-.39,0,.51.51,0,0,0-.26.14,1,1,0,0,0-.39.72,1,1,0,0,0,.16.52l.06.08c.17.25.49.72.72,1l.11.16a3.81,3.81,0,0,0,.24.32l.12.12.12.14.17.17A8.37,8.37,0,0,1,23.74,17l-.07.09-.08.1a1.88,1.88,0,0,0-.16.29,4.12,4.12,0,0,0-.33.4l-.12.17c-.11.13-.22.29-.34.45s-.33.47-.52.7l-.12.15a5.25,5.25,0,0,0-.61.73c-.18.22-.34.43-.52.61l-.05.05-.15.23a1.07,1.07,0,0,0,0,1l0,.07,0,.07,0,.05a.77.77,0,0,0,.58.24,1.09,1.09,0,0,0,.26,0l.16,0a.62.62,0,0,0,.2-.1l.08,0,.25-.16c.14-.11.24-.21.35-.31l.15-.16a11.3,11.3,0,0,0,.85-1c.15-.2.3-.4.45-.58l.14-.18a4.94,4.94,0,0,1,.36-.44l.05-.06.06-.1.17-.18.23-.24,0,0,.06.06.45.6.07.09a2.83,2.83,0,0,0,.41.5c.09.09.32.35.41.43A9.26,9.26,0,0,0,28,21.93l.21.13a.44.44,0,0,0,.19.07l.13.05a1.3,1.3,0,0,0,.48.12.73.73,0,0,0,.71-.55.45.45,0,0,0,0-.16v-.1C29.79,21.36,29.79,21.27,29.79,21.19Z"/>    
    </g>
  {:else if type === 'volume-on'}
    <g>
      <path d="M25.42,25.21a2.76,2.76,0,0,1-.67-.48,1.19,1.19,0,0,1-.11-.26,1.12,1.12,0,0,1,0-.58,1.51,1.51,0,0,1,.18-.26c.58-.75,1.51-1.15,2.13-1.94l.25-.26a5.94,5.94,0,0,0,.66-.88l.16-.26c.2-.34.38-.69.55-1l.12-.25a8.61,8.61,0,0,0,.57-1.89,5.77,5.77,0,0,0,.08-.58,3.87,3.87,0,0,0,0-.59c0-.11,0-.23,0-.34a4.5,4.5,0,0,0,0-.54c-.07-.81-.39-1.75-.52-2.48l-.1-.25c-.4-.59-.55-1.22-.95-1.69-.1-.14-.22-.27-.33-.41l-.12-.13L27.16,10l-.24-.32c-.08-.1-.17-.19-.25-.28-.87-1-2.21-1.22-2.34-2.53a.7.7,0,0,1,.09-.24.94.94,0,0,1,.65-.47l.28,0a1.51,1.51,0,0,1,.64.1,1,1,0,0,1,.21.09,13.11,13.11,0,0,1,2,1.34l.26.23c.18.15.35.31.52.47l.24.25.26.26.23.27a13.76,13.76,0,0,1,1.73,3.24,2.56,2.56,0,0,1,.05.27,2.45,2.45,0,0,1,0,.27c0,.1,0,.2.07.3.12.5.2,1,.29,1.5,0,.12,0,.24.05.36a4.16,4.16,0,0,1,0,1.12c0,.11,0,.23,0,.34a12.54,12.54,0,0,1-.55,3.08c0,.11-.07.21-.1.32a4,4,0,0,1-.48.91l-.2.33a9.39,9.39,0,0,1-2.16,2.57l-.2.19a5.31,5.31,0,0,1-1.12.77l-.26.12a5.77,5.77,0,0,1-1.37.42Z"/>
      <path d="M20.71,21.93a2.09,2.09,0,0,1-.26-1,1.1,1.1,0,0,1,.12-.33l.16-.22a1.7,1.7,0,0,1,.19-.19.62.62,0,0,0,.14-.19l.21-.17.13-.11c.18-.24.43-.37.51-.59L22,19a1.15,1.15,0,0,1,.28-.48c0-.05.05-.11.08-.16s.05-.11.08-.16.09-.14.13-.26a.84.84,0,0,1,0-.17l.09-.16c0-.05.05-.11.07-.17,0-.44.29-.82.16-1.27V16a1,1,0,0,0,0-.37,1.37,1.37,0,0,1,0-.19c0-.07,0-.14,0-.2s0-.13,0-.2a1.06,1.06,0,0,1,0-.19c0-.06,0-.12,0-.19A4.35,4.35,0,0,0,22,13l-.07-.11-.06-.1-.12-.17-.11-.17c-.5-.5-1.25-1-1-2a1.32,1.32,0,0,1,.95-.51,1.31,1.31,0,0,1,.27.06,1.8,1.8,0,0,1,.38.16,2.67,2.67,0,0,1,.36.22,3.86,3.86,0,0,1,.6.44,3.07,3.07,0,0,1,.25.26A6.47,6.47,0,0,1,25,14.19c0,.1.06.2.08.3a5.24,5.24,0,0,1,.11,1.59,2.62,2.62,0,0,1,0,.28,8.72,8.72,0,0,1,0,.88c0,.12,0,.24-.05.37a3.2,3.2,0,0,1-.36,1.08l-.12.34A6,6,0,0,1,24,20.29l-.19.26a5.6,5.6,0,0,1-1.22,1l-.28.14a8.21,8.21,0,0,1-1.41.3Z"/>
      <path d="M16.81,17.69c.05-1.64.07-3.29,0-5,0-.15,0-.3,0-.44v-.44l0-.58c0-.59.05-1.63.05-2.25,0-.81,0-1.85,0-2.06,0-1.4,0-1.7-.05-3.23a1.75,1.75,0,0,0-2.73-1.49s-1.88,1.13-3,1.78c-1.26.77-3.66,2.05-5,3S3,9,2.15,9.8a11.11,11.11,0,0,0-1,.85,2.76,2.76,0,0,0-.77.91,2.42,2.42,0,0,0-.29,1c0,.34,0,1.13,0,1.47s0,3.43,0,4.55a5.11,5.11,0,0,0,.05.55,4.07,4.07,0,0,0,.08.61c.51,1.09,2.19,2.34,3,3S5.42,24.44,6.07,25s2.25,1.53,3.43,2.34c.58.4,2.85,1.84,3.85,2.34,1.6.82,3.48.17,3.48-2,0-1.63,0-2.46,0-4.46,0-.16,0-2.34,0-2.49a15.72,15.72,0,0,0-.05-2.37C16.79,18.16,16.8,17.93,16.81,17.69ZM14,10.25c0,.13,0,3.79,0,3.89,0,1.08,0,2.15,0,3.22,0,.15,0,1.43,0,2.5,0,.1,0,1.65,0,2.35a17.84,17.84,0,0,1,0,2.48,1,1,0,0,1-.79.91c-.47.12-.9,0-1.73-.52-.12-.07-1.59-.84-2-1.19-.08-.1-1.22-.89-1.69-1.27-.69-.56-1.92-1.52-2.84-2.27a5.08,5.08,0,0,1-1.59-1.68,2.28,2.28,0,0,1-.06-.39c0-.12,0-.24,0-.36,0-.73,0-1.43,0-2.24,0-.16,0-1.39,0-1.61a1.94,1.94,0,0,1,.2-.7,2,2,0,0,1,.5-.6,4.79,4.79,0,0,1,.49-.52,11.55,11.55,0,0,1,1.79-1.33L8.5,9.32a20.88,20.88,0,0,0,2.1-1.19c.93-.56,1.16-.65,1.74-1A1.07,1.07,0,0,1,14,8.1C14,9.05,13.94,9.49,14,10.25Z"/>
    </g>
  {/if}
</svg>