<script lang="ts">
import { createEventDispatcher } from 'svelte'

export let active: boolean
export let locked = false

const emit = createEventDispatcher()

const interact = (pointer: PointerEvent) => {
  if(pointer.pointerType !== 'mouse') active ? emit('clickEvent') : emit('hoverOn')
  else {
    if(locked) return
    emit('clickEvent')
  }
}

const hover = (pointer: PointerEvent) => {
  if(pointer.pointerType === 'mouse') emit('hoverOn')
}

const out = (pointer: PointerEvent) => {
  if(pointer.pointerType === 'mouse') emit('hoverOff')
}
</script>

<button
  class:locked={locked}
  on:pointerdown={interact}
  on:pointerover={hover}
  on:pointerout={out}>
  <slot />
</button>