<script lang="ts">
  import texts from "$data/texts.json";
  import { language } from "$store/store";
</script>

<div class="flex">
  <div class="lex flex-col w-52 mr-8">
    <p class="pb-8 text-sm">{texts.opening[$language].logos[0][0]}</p>
    <img src="/logos/{texts.opening[$language].logos[0][1]}.svg" class="max-h-16" alt={texts.opening[$language].logos[0][2]} />
  </div>
  <div class="lex flex-col w-52">
    <p class="pb-8 text-sm">{texts.opening[$language].logos[1][0]}</p>
    <img src="/logos/{texts.opening[$language].logos[1][1]}.svg" class="max-h-16" alt={texts.opening[$language].logos[1][2]} />
  </div>
</div>
<div class="lex flex-col w-full max-w-[1000px]">
  <p class="pb-8 text-sm">{texts.opening[$language].logos[2][0]}</p>
  <img src="/logos/{texts.opening[$language].logos[2][1]}.svg" class="max-h-16" alt={texts.opening[$language].logos[2][2]} />
</div>
