<script lang="ts">
  import { onMount } from 'svelte'

  export let src: string
  export let start = 0
  export let speed = 1

  let LottiePlayer: any

  onMount(async () => {
    const module = await import('@lottiefiles/svelte-lottie-player');
		LottiePlayer = module.LottiePlayer;
  })
</script>

<div
  class="lottie-wrapper max-w-full">
  {#if LottiePlayer}
	<LottiePlayer
    src="/animations/{src}"
    autoplay={true}
		loop={true}
		controls={false}
    seek={start}
    speed={speed}
		renderer="svg"
		background="transparent"
	/>
  {/if}
</div>

<style lang="postcss" global>
.lottie-player {
  @apply  flex items-center justify-center;
}

.lottie-wrapper {
  @apply w-full h-full;
}

.lottie-wrapper > div {
  @apply flex justify-center w-full h-full;
}
</style>