<script lang="ts">
  import data from "$data/data";
  import MapItem from "./mapItem.svelte";

  let selectedKey = "";
  let selectedLock = "";
</script>

<ol class="w-full max-w-6xl p-8 text-center">
  <li class="flex flex-col items-start my-2 md:items-center">
    <a href="/" class="flex flex-col items-center hover:text-white">
      <img
        class="hidden border-4 border-current md:block w-16 h-16 rounded-full object-cover"
        src="/thumbs/intro.jpg"
        alt="thumbnail com frame do link"
      />
      <p>INTRO</p>
    </a>
  </li>

  <li class="flex-col items-start my-2 hidden md:flex md:items-center">
    <div class="w-0 h-3 border-l-2"></div>
  </li>

  <li class="flex flex-col items-start my-2 md:items-center">
    <MapItem link={{ link: "teia", type: "pages" }} />
  </li>

  <li class="flex flex-col items-start my-2 md:items-center">
    <div class="w-0 h-3 border-l-2 hidden md:block"></div>
    <div class="w-[95%] h-3 border-2 border-b-0 hidden md:block"></div>
    <ol class="flex ml-4 border-l-2 flex-col md:flex-row md:ml-0 md:border-0">
      {#each data.pages.teia.links as link}
        <li
          class="my-2 ml-4 flex flex-col items-start md:w-[14.3%] md:items-center md:ml-0"
        >
          <MapItem
            {link}
            parent={"teia"}
            revealKey={data.keys[selectedKey] === link.link}
            revealLock={data.keys[link.link] === selectedLock}
            on:showKey={(key) => (selectedKey = key.detail)}
            on:showLock={(lock) => (selectedLock = lock.detail)}
          />

          {#if link.type === "pages"}
            <div class="w-0 h-3 border-l-2 hidden md:block"></div>
            <div class="w-[95%] h-3 border-2 border-b-0 hidden md:block"></div>
            <ol class="flex ml-4 border-l-2 flex-col md:ml-0 md:border-0">
              {#each data[link.type][link.link]["links"] as subLink, subKey}
                {#if subKey !== 0}
                  <li class="hidden justify-center md:flex">
                    <div class="w-0 h-3 border-l-2"></div>
                  </li>
                {/if}

                <li
                  class="my-2 ml-4 flex flex-col items-start md:items-center md:ml-0"
                  class:-order-1={subLink.link === "eremita"}
                >
                  <MapItem
                    link={subLink}
                    parent={link.link}
                    revealKey={data.keys[selectedKey] === subLink.link}
                    revealLock={data.keys[subLink.link] === selectedLock}
                    on:showKey={(key) => (selectedKey = key.detail)}
                    on:showLock={(lock) => (selectedLock = lock.detail)}
                  />

                  {#if subLink.link === "encantamentos"}
                    <div class="w-0 h-3 border-l-2 hidden md:block"></div>
                    <div
                      class="w-[95%] h-3 border-2 border-b-0 hidden md:block"
                    ></div>
                    <ol
                      class="flex ml-4 border-l-2 flex-col md:ml-0 md:px-2 md:border-0"
                    >
                      {#each data[subLink.type][subLink.link]["links"] as lastLink, lastKey}
                        {#if lastKey !== 0}
                          <li class="hidden justify-center md:flex">
                            <div class="w-0 h-3 border-l-2"></div>
                          </li>
                        {/if}

                        <li
                          class="my-2 ml-4 flex flex-col items-start md:items-center md:ml-0"
                        >
                          <MapItem
                            link={lastLink}
                            parent={subLink.link}
                            revealKey={data.keys[selectedKey] === lastLink.link}
                            revealLock={data.keys[lastLink.link] ===
                              selectedLock}
                            on:showKey={(key) => (selectedKey = key.detail)}
                            on:showLock={(lock) => (selectedLock = lock.detail)}
                          />
                        </li>
                      {/each}
                    </ol>
                  {/if}
                </li>
              {/each}
            </ol>
          {/if}
        </li>
      {/each}
    </ol>
  </li>
</ol>
