<script lang="ts">
  import { goto } from "$app/navigation"
  import data from "$data/data"
  import { page } from "$app/stores"
  import { createEventDispatcher, onMount } from "svelte"
  import Icons from "./icons.svelte"
  import InteracitonButton from "./interacitonButton.svelte"
  import { language, pageViewed } from "$store/store"

  const emit = createEventDispatcher()

  export let link: linksInterface
  export let parent: string
  export let revealKey = false
  export let revealLock = false

  let active = false
  let isKey = false

  $: locked = data.keys.hasOwnProperty(link.link) ? !$pageViewed[data.keys[link.link]] : false
  $: isCurrentPage = $page.params.hasOwnProperty('media') ? link.link === $page.params.media : link.link === $page.params.page

  onMount( () => {
    Object.values(data.keys).forEach(currentKey => {
      if(currentKey === link.link) isKey = true
    })
  })

  const manageClick = () => {
    if(locked) return
    if(link.type === 'external') window.open(link.link, "_blank")
    else if(link.type === 'pages') goto(`/${link.link}`)
    else goto(`/${parent}/${link.link}`)
  }
  const mouseOver = () => {
    active = true
    if(locked) emit('showKey', link.link)
    else if(isKey) emit('showLock', link.link)
  }
  const mouseOut = () => {
    active = false
    emit('showLock', '')
    emit('showKey', '')
  }
</script>

  <InteracitonButton
    {active}
    {locked}
    on:hoverOn={mouseOver}
    on:hoverOff={mouseOut}
    on:clickEvent={manageClick}
    >
    <div class="flex flex-col items-center"
      class:text-red-700={isCurrentPage}
      class:text-white={active}>
      <div class="relative">
        <img class="hidden md:block"
          src="/thumbs/{link.link}.jpg"
          alt="thumbnail com frame do link" />
        <div
          class="absolute top-0 w-full h-full p-3 md:border-4 border-current rounded-full transition-all ease-in-out"
          class:text-white={revealKey || revealLock}>
          {#if locked}
            <Icons type="lock" />
          {:else if isKey}
            <Icons type="key" />
          {/if}
        </div>
      </div>
      <p>
        {data[link.type][link.link].title[$language]}
      </p>
    </div>
    </InteracitonButton>


<style type="postcss">
  img { @apply w-16 h-16 rounded-full object-cover; }
  a { @apply flex flex-col items-center; }
  a:hover {@apply text-white;}
</style>