<script lang="ts">
  import { page } from '$app/stores'
  import { isMenuOpen, language, muted } from "$store/store"
  import About from "./about.svelte"
  import Icons from "./icons.svelte"
  import Map from "./map.svelte"

  let isInfo = false
  let isFullscreen = false

  $: $page.params, isMenuOpen.close()

  const toggleVolume = () => muted.set(!$muted)
  const toggleFullscreen = () => {
    isFullscreen = !isFullscreen
    isFullscreen ? openFullscreen() : closeFullscreen()
  }

  const openFullscreen = () => {
    const elem = document.documentElement
    if (elem.requestFullscreen) {
      elem.requestFullscreen();
    } else if (elem.webkitRequestFullscreen) { /* Safari */
      elem.webkitRequestFullscreen();
    } else if (elem.msRequestFullscreen) { /* IE11 */
      elem.msRequestFullscreen();
    }
  }

  const closeFullscreen = () => {
    if (document.exitFullscreen) {
      document.exitFullscreen();
    } else if (document.webkitExitFullscreen) { /* Safari */
      document.webkitExitFullscreen();
    } else if (document.msExitFullscreen) { /* IE11 */
      document.msExitFullscreen();
    }
  }
  </script>

<nav class="absolute top-0 left-0 z-50 transition-colors p-2"
  class:text-white={$page.params.page === 'cabaca'}
  class:text-red-700={$page.params.media || $page.params.page === 'taro'}>
  <button
    class="w-12 h-12 lg:w-20 lg:h-20 {$page.url.pathname !== '/sangue' ? 'hover:text-red-700' : 'hover:text-white'} transition"
    on:click={() => { $isMenuOpen ? isMenuOpen.close() : isMenuOpen.open()}}>
    <Icons type="logo" />
  </button>
</nav>

<div class="absolute bottom-3 right-3 z-40 p-1 flex"
  class:text-red-700={$page.url.pathname !== '/sangue'}>
  <button class="w-4 h-4 hover:text-white" on:click={toggleVolume}>
    <Icons type="volume-{$muted ? 'on' : 'off'}"
    />
  </button>
  <button class="w-4 h-4 ml-3 hover:text-white" on:click={toggleFullscreen}>
    <Icons type="fullscreen-{isFullscreen ? 'on' : 'off'}"
    />
  </button>
</div>

<aside
  class="absolute top-0 left-0 w-full h-full z-40 glass
        flex flex-col p-2 transform -translate-x-full
        transition-all duration-500 ease-in-out"
  class:translate-x-0={$isMenuOpen}>
  <header class="w-full py-2 flex items-start justify-end mb-2">
    <button
      class="w-8 h-8 hover:text-red-700"
      on:click={() => language.change()}>
      <span class="uppercase">{$language}</span>
    </button>
    <button
      class="w-8 h-8 p-2 hover:text-red-700"
      class:text-red-700={isInfo === false}
      on:click={() => isInfo = false}>
      <Icons type="map" />
    </button>
    <button
      class="w-8 h-8 p-2 hover:text-red-700"
      class:text-red-700={isInfo === true}
      on:click={() => isInfo = true}>
      <Icons type="info" />
    </button>
    <a
      class="w-8 h-8 p-2 hover:text-red-700"
      href="https://www.instagram.com/eumedeia/"
      rel="noreferrer"
      target="_blank"
    >
      <Icons type="instagram" />
    </a>
  </header>
  <section class="flex-grow flex justify-center pb-8 overflow-auto">
    {#if isInfo === false}
    <Map />
    {:else}
    <About />
    {/if}
  </section>
</aside>