<script lang="ts">
  import { fade } from "svelte/transition"
  import Icons from "./icons.svelte"
  export let text: string[]
  export let title: string
  export let image = ''

  let isMoreInfoOpen = false
</script>

<div class="absolute top-0 flex flex-col w-full max-h-full {isMoreInfoOpen ? 'z-40 bottom-0' : 'z-20'}">

  <div class="w-full text-center p-4">
    <button
      on:click={() => isMoreInfoOpen = true}
      class="bg-black px-2 text-white hover:text-red-700">
      _{title}
    </button>
  </div>

  {#if isMoreInfoOpen}
  <button
    transition:fade
    on:click={() => isMoreInfoOpen = false}
    class="absolute w-8 h-8 top-4 right-4 z-40 text-red-700 hover:text-white">
    <Icons type="close" />
  </button>
  {/if}

  <div
    class="more absolute top-0 left-0 w-screen h-screen z-30
          {isMoreInfoOpen ? 'max-h-screen' : 'max-h-0'}
          text-left glass overflow-hidden
          transition-all duration-500 ease-in-out
          flex flex-col items-center justify-between"
    >
    <div class="w-full flex items-center justify-center pt-4">
      <button on:click={() => isMoreInfoOpen = false}
        class="bg-black px-2 text-white hover:text-red-700">
        _{title}
      </button>
    </div>
    {#if image !== ''}
      <img class="border-8 border-black max-w-full mx-auto" src='/cards/{image}.jpg' alt="carta de tarô com estética maia representando a carta {title}" />
    {/if}
    <div class="w-full md:max-w-[50%] max-h-full overflow-y-auto p-8">
      {#each text as line}
        <p>{@html line}</p>
      {/each}
    </div>
    <div></div>
  </div>

</div>

<style lang="postcss">
  :global(.more p) {
    @apply py-2;
  }
</style>