<script lang="ts">
  import { createEventDispatcher } from 'svelte'
  import { goto } from '$app/navigation'
  import { page } from '$app/stores'
  import Icons from './icons.svelte'

  import teia from './menus/teia.svelte'
  import cabaca from './menus/cabaca.svelte'
  import encantamentos from './menus/encantamentos.svelte'
  import facas from './menus/facas.svelte'
  import misterios from './menus/misterios.svelte'
  import sangue from './menus/sangue.svelte'
  import taro from './menus/taro.svelte'

  const components = {
    teia: teia,
    cabaca: cabaca,
    encantamentos: encantamentos,
    facas: facas,
    misterios: misterios,
    sangue: sangue,
    taro: taro,
  }

  const parentPages = {
    encantamentos: 'cabaca',
    facas: 'sangue'
  }

  const emit = createEventDispatcher()

  export let currentPage: string
  export let currentTime: number
  export let duration: number
  export let options: any

  const navigate = (event: CustomEvent) => {
    if(event.detail.type === 'pages') goto(`/${event.detail.link}`)
    else if(event.detail.type === 'medias') goto(`/${$page.params.page}/${event.detail.link}`)
    else if(event.detail.type === 'external') window.open(event.detail.link, '_blank')
  }

  const seekTo = (event: CustomEvent) => emit('seekTo', event.detail)
</script>

<div class="absolute top-0 left-0 w-full h-full overflow-hidden flex items-center justify-center">
  <svelte:component
    this={components[currentPage]}
    {options}
    {currentTime}
    {duration}
    on:navigate={navigate}
    on:seekTo={seekTo}
    />
</div>

{#if currentPage !== 'teia'}
<a
  href="/{parentPages.hasOwnProperty(currentPage) ? parentPages[currentPage] : 'teia'}"
  class="absolute w-8 h-8 top-4 right-4 z-30 {$page.params.page === 'sangue' ? 'text-black' : 'text-red-700'} hover:text-white">
  <Icons type="close" />
</a>
{/if}