<script lang="ts">
  import { timecodeToSeconds } from "$data/helpers"
  import { createEventDispatcher } from "svelte"
  import Icons from "./icons.svelte"

  const emit = createEventDispatcher()

  export let markers = [] as markerInterface[]
  export let duration = 0
  export let currentTime = 0

  $: currentTime, timeUpdate()

  let progressBar: HTMLDivElement

  let dragging = false
  let barSize = 0

  const timeUpdate = () => {
    if(!dragging) barSize = getLimits(currentTime / duration)
  }

  const startBar = (event: PointerEvent | CustomEvent) => {
    dragging = true
    moveBar(event)
  }

  const moveBar = (event: PointerEvent | CustomEvent) => {
    if(!dragging) return
    const currentEvent = event.detail.event || event.detail || event
    barSize = getLimits(getProgress(currentEvent.clientX))
  }

  const releaseBar = () => {
    if(!dragging) return
    emit('seekTo', barSize)
    dragging = false
  }

const getProgress = (xPos: number) => (xPos - progressBar.getBoundingClientRect().left) / progressBar.clientWidth
const getLimits = (value: number) => value < 0 ? 0 : value > 1 ? 1 : value

const timeToSeconds = (time: number): string => {
  const seconds = Math.floor(time % 60)
  const minutes = Math.floor(time / 60 % 60)
  return `${minutes >= 0 ? minutes : 0}:${seconds >= 10 ? seconds : seconds >= 0 ? '0' + seconds : '00'}`
}
</script>

<svelte:window
  on:pointermove={moveBar}
  on:pointerup={releaseBar} />

<div class="w-full flex items-center text-red-700 pr-16" class:opacity-0={duration === 0}>
  <div
    bind:this={progressBar}
    on:pointerdown={startBar}
    class="flex-grow mx-3 relative flex items-center h-1 bg-white bg-opacity-20 rounded-full cursor-pointer">
    {#each markers as marker}
    {@const size = Math.round((timecodeToSeconds(marker.timecode) / duration) * 100)}
      <div
        class="marker relative h-3 w-1 bg-red-700"
        style="left: {size}%">
        <div class="label">{marker.text}</div>
      </div>
    {/each}
    <div
      class="absolute h-1 bg-current rounded-full shadow-inner flex items-center"
      style="width: {barSize * 100}%">
      <div class="bullet">
        <Icons type="bullet" />
      </div>
    </div>
  </div>
  <div class="pr-6 w-10">
    -{timeToSeconds(duration - currentTime)}
  </div>
</div>

<style lang="postcss">
  .label {
    @apply absolute -top-2 px-2 max-h-0 bg-red-700 text-white pointer-events-none
          transition-all ease-in-out duration-500 overflow-hidden
          transform -translate-x-1/2 -translate-y-full whitespace-nowrap;
  }
  .marker:hover .label { @apply max-h-9; }
</style>