<script lang="ts">
  import LottieAnimation from './lottieAnimation.svelte'
  import Icons from './icons.svelte'
  import { endDate } from '$store/store'
  import { timecodeToSeconds } from '$data/helpers';

  export let subtitles: subtitle[]
  export let time: number

  console.log(subtitles)

  const now = new Date()
  const timeleft = Math.round((endDate.getTime() - now.getTime())/(1000 * 3600)) || 0

  let currentSubtitle = -1

  function setSubtitle() {
    if (currentSubtitle >= 0 &&
        currentSubtitle < subtitles.length &&
        time > timecodeToSeconds(subtitles[currentSubtitle].start) &&
        time < timecodeToSeconds(subtitles[currentSubtitle].end)) return

    getSubtitle()
  }

  function getSubtitle() {
    currentSubtitle = -1
    subtitles.forEach(subtitle => {
      if(time >= timecodeToSeconds(subtitle.start) && time < timecodeToSeconds(subtitle.end)) {
        if(currentSubtitle === subtitle.index) return
        currentSubtitle = subtitle.index
        return
      }
    })
  }

  function readMarkdown (text: string) {
    let lines = text.split(/(?:\r\n|\r|\n)/gm);
    let finalText = ''
    lines.forEach(line => {
      let currentLine = line
                      .replace(/\{(\\[\w]+\(?([\w\d]+,?)+\)?)+\}/gi, '')
                      .replace(/</g, '&lt;')
                      .replace(/>/g, '&gt;')
                      .replace(/&lt;(\/?(font|b|u|i|s))((\s+(\w|\w[\w\-]*\w)(\s*=\s*(?:".*?"|'.*?'|[^'">\s]+))?)+\s*|\s*)(\/?)&gt;/gi, '<$1$3$7>')
                      .replace(/\\N/gi, '</mark><mark>')
      finalText += `<mark>${currentLine}</mark>`
    })
    return finalText
  }

  $: time, setSubtitle()

  export const getStartingTime = () => currentSubtitle < 0 || currentSubtitle > subtitles.length - 1 ? -1 : subtitles[currentSubtitle].start
</script>

{#each subtitles as subtitle}
  {#if currentSubtitle === subtitle.index}
    <div class="sub h-full flex flex-col items-center text-red-700 md:text-lg">
      <div class="flex-grow flex justify-center items-end">
        {#if currentSubtitle === 6}
        <div class="flex">
          <div class="w-20 h-20 mx-2 bg-black p-4 rounded-full"><LottieAnimation src="Novelos/Novelo_B_01.json" /></div>
          <div class="w-20 h-20 mx-2 bg-black p-4 rounded-full"><LottieAnimation src="Infinito/Infinito_B_01.json" /></div>
          <div class="w-20 h-20 mx-2 bg-black p-4 rounded-full"><LottieAnimation src="Cartas/cacto/B_a.json" /></div>
          <div class="w-20 h-20 mx-2 bg-black p-4 rounded-full"><LottieAnimation src="Facas/Faca_01_a.json" /></div>
        </div>
        {:else if currentSubtitle === 9 || currentSubtitle === 10}
        <div class="w-20 h-20 mx-2 bg-black p-4 rounded-full"><Icons type="map" /></div>
        {:else if currentSubtitle === 12}
        <div class="thinPath w-20 h-20 mx-2 bg-black p-4 rounded-full"><Icons type="logo" /></div>
        {/if}
      </div>

      <div class="py-8 flex flex-col justify-center items-center">
        {@html readMarkdown(subtitle.text).replace('72', `${timeleft}`)}
      </div>

      <div class="flex-grow"></div>
    </div>
  {/if}
{/each}


  <style lang="postcss">
    :global(mark) {
      @apply px-2 my-1 bg-black text-current;
    }

    :global(.sub path) {
      @apply stroke-current;
    }

    :global(.thinPath path) {
      stroke-width: 0;
    }
  </style>
