<script lang="ts">
import { createEventDispatcher } from 'svelte'
import { isMenuOpen } from '$store/store'
import Icons from './icons.svelte'
import VimeoPlayer from './vimeoPlayer.svelte'
import ProgressBar from './progressBar.svelte'

const emit = createEventDispatcher()

export let media: videoFormat

let player: VimeoPlayer
let paused = true
let duration = 0
let currentTime = 0

$: $isMenuOpen, toggleVideo()

const play = () => player.play()
const pause = () => player.pause()
const toggleVideo = () => { if(player) $isMenuOpen ? pause() : play() }
const seekTo = (event: CustomEvent) => player.seekTo(event.detail)

const timeUpdate = (event: CustomEvent) => currentTime = event.detail.seconds
const getDuration = () => duration = player.getDuration()

</script>

  <div class="relative w-full h-full overflow-hidden flex items-center justify-center">
    <img src="/gifs/04.gif" alt="glitch" class="w-full h-full object-cover opacity-30" />
    <div class="absolute min-w-full min-h-full aspect-video">
    <VimeoPlayer
      bind:this={player}
      id={media.options.videoId}
      key={media.options.videoKey}
      on:durationchange={getDuration}
      on:play={() => paused = false}
      on:pause={() => paused = true}
      on:timeupdate={timeUpdate}
      on:ended={() => emit('close')}
      autoplay
      />
  </div>
</div>

<div class="text-red-700 absolute bottom-0 p-3 pr-0 w-full flex items-center">
  <button
    class="w-6 h-6 hover:text-white"
    on:click={() => paused ? play() : pause()}>
    <Icons type={paused ? 'play' : 'pause'} />
  </button>
  <ProgressBar {duration} {currentTime} on:seekTo={seekTo} />
</div>
