<script lang="ts">
  import "../app.css"
  import { page } from '$app/stores'

  $: {
    if (typeof gtag !== 'undefined') {
      gtag('config', 'G-HZESS8B161 ', {
        page_title: document.title,
        page_path: $page.url.pathname,
      })
    }
  }
</script>

<svelte:head>
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-HZESS8B161 ">
  </script>
  <script>
    window.dataLayer = window.dataLayer || []

    function gtag() {
      dataLayer.push(arguments)
    }

    gtag('js', new Date())
    gtag('config', 'G-HZESS8B161 ')
  </script>
</svelte:head>

<main
  class="relative w-screen h-screen overflow-hidden bg-cover"
  style="background-image: url('/gifs/04.gif');">
  <slot />
</main>