<script lang="ts">
  import { page } from "$app/stores";
  import data from "$data/data";
  import Icons from "$lib/icons.svelte";
  import Menu from "$lib/menu.svelte";
  import More from "$lib/more.svelte";
  import Page from "$lib/page.svelte";
  import VimeoPlayer from "$lib/vimeoPlayer.svelte";
  import { language, pageViewed } from "$store/store";

  $: pageInfo = data.pages[$page.params.page];
  $: $page.params.media, toggleVideo();
  $: $page.url.pathname, manageLockedPages();

  let player: VimeoPlayer;
  let currentTime = 0;
  let duration = 0;

  const timeupdate = (event: CustomEvent) => {
    currentTime = event.detail.seconds;
    duration = player.getDuration();
  };

  const seekTo = (event: CustomEvent) => player.seekTo(event.detail);

  const toggleVideo = () => {
    if (!player) return;
    "media" in $page.params &&
    data.medias[$page.params.media]["type"] === "video"
      ? player.pause()
      : player.play();
  };

  const manageLockedPages = () => {
    if (
      $page.params.page in $pageViewed &&
      !$pageViewed[$page.params.page] &&
      $page.params.page !== "teia"
    )
      pageViewed.setViewed($page.params.page);
    if ("media" in $page.params) pageViewed.setViewed($page.params.media);
  };
</script>

<Menu />

{#if pageInfo.text}
  <More text={pageInfo.text[$language]} title={pageInfo.title[$language]} />
{/if}

<div
  class="relative w-full h-full overflow-hidden flex items-center justify-center"
>
  <div class="absolute min-w-full min-h-full aspect-video">
    <VimeoPlayer
      bind:this={player}
      on:timeupdate={timeupdate}
      id={pageInfo.videoId}
      key={pageInfo.videoKey}
      autoplay
      loop
    />
  </div>
</div>

<Page
  options={pageInfo.links}
  currentPage={$page.params.page}
  {currentTime}
  {duration}
  on:seekTo={seekTo}
/>

<div
  class="absolute top-0 left-0 w-full h-full z-30 glass
        flex flex-col items-center justify-center
        transition-all duration-500 ease-in-out
        transform {$page.params.media ? 'translate-x-0' : 'translate-x-full'}"
>
  <slot />
</div>

{#if $page.params.page !== "teia"}
  <a
    href="/teia"
    class="absolute w-8 h-8 top-4 right-4 z-20 {$page.params.page === 'sangue'
      ? 'text-black'
      : 'text-red-700'} hover:text-white"
  >
    <Icons type="close" />
  </a>
{/if}
