<script lang="ts">
  import { createEventDispatcher } from 'svelte'
  import data from '$data/data'
  import InteracitonButton from '$lib/interacitonButton.svelte'
  import LottieAnimation from '$lib/lottieAnimation.svelte'
  import { language, pageViewed } from '$store/store'

  const emit = createEventDispatcher()

  export let options: any

  let isHovered = -1
  </script>

  <ol class="relative w-screen h-screen max-w-[1300px] p-2 py-32 portrait:py-16 flex flex-col justify-around text-white">
  {#each options as link, key}
  {@const lockedPage = data.keys.hasOwnProperty(link.link) ? !$pageViewed[data.keys[link.link]] : false}
    <li
      class="relative flex-grow  flex flex-col justify-center">
      <div class="absolute p-16 aspect-[2040/860] h-full"
          class:self-center={key === 0}
          class:self-end={key === 2}>
        <InteracitonButton
          active={isHovered === key}
          locked={lockedPage}
          on:hoverOn={() => isHovered = key}
          on:hoverOff={() => isHovered = -1}
          on:clickEvent={() => emit('navigate', {link: link.link, type: link.type})}>
            <LottieAnimation
              src="Infinito/Infinito_B_0{key === 1 ? 1 : 2}.json"
              start={key / 10}
              speed={2 -  Math.sin(key * 1.5)}/>
        </InteracitonButton>
        <div class="text absolute overflow-hidden
                transition-all duration-1000 ease-in-out
                {isHovered === key ? 'max-h-screen' : 'max-h-0'}">
          <span class="min-w-[1.5rem] px-2 bg-black text-white whitespace-nowrap writing-mode">
            {#if lockedPage}
              TRANCADO
            {:else}
              {data[link.type][link.link].title[$language]}
            {/if}
          </span>
        </div>
      </div>
    </li>
  {/each}
  </ol>

  <style>
  .text {left: 50%; transform: translate(-50%);}
  </style>