<script lang="ts">
import { timecodeToSeconds } from '$data/helpers'
import InteracitonButton from '$lib/interacitonButton.svelte'
import LottieAnimation from '$lib/lottieAnimation.svelte'
import positions from '$data/facasPositions.json'
    import { allowSensible } from '$store/store';
    import { fly } from 'svelte/transition';

export let options: any
export let currentTime: number

const timecodes = [
  "00:00:00,00",
  "00:00:01,09",
  "00:00:02,17",
  "00:00:04,02",
  "00:00:05,12",
  "00:00:07,00"
]

let currentPosition = 0
let isHovered = -1
let warning = false
let temporaryLink = ''

let audio: HTMLAudioElement

$: currentTime, updatePosition()

const updatePosition = () => {
  timecodes.forEach((timecode, key) => {
    if(currentTime >= timecodeToSeconds(timecode)) {
      currentPosition = key
      return
    }
  })
}

const setHover = (key: number) => {
  isHovered = key
  if(audio) audio.play()
}

const releaseHover = () => {
  isHovered = -1
}

const checkPermissions = (destination: string) => {
  if($allowSensible) window.open(destination, '_blank')
  else {
    warning = true
    temporaryLink = destination
  }
}

const enableSensible = () => {
  warning = false
  allowSensible.confirm()
  window.open(temporaryLink, '_blank')
}
</script>

<audio bind:this={audio} src="/audio/click.mp3" type="mp3" />

<div class="absolute min-w-full min-h-full aspect-video">
  <div class="absolute top-0 left-0 w-full h-full flex items-center justify-center">
    <ol class="relative w-[55%] h-[89%]">
      {#each options as link, key}
      <li
        class="facas absolute {isHovered === key ? 'opacity-100' : 'opacity-0'} text-red-700"
        style="top: {positions[currentPosition][key]['top']}%; left: {positions[currentPosition][key]['left']}%;
              transform: rotate({positions[currentPosition][key]['rotate']}deg);"
        >
        <InteracitonButton
          active={isHovered === key}
          on:hoverOn={() => setHover(key)}
          on:hoverOff={releaseHover}
          on:clickEvent={() => checkPermissions(link.link)}>
          <LottieAnimation src="Facas/Faca_0{key+1}_a.json" />
        </InteracitonButton>
      </li>
      {/each}
    </ol>
    {#if warning}
    <div
      transition:fly={{y: -500}}
      class="absolute w-full h-full flex items-center justify-center glass">
      <div>
        <div class="bg-red-100 rounded-lg py-5 px-6 mb-3 text-base text-red-700 flex flex-col w-full" role="alert">
          <p class="inline-flex items-center">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="exclamation-triangle" class="w-4 h-4 mr-2 fill-current" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
              <path fill="currentColor" d="M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z"></path>
            </svg>
            Atenção conteúdo sensível.
          </p>
          <p class="pt-8 inline-flex items-center justify-between">
            <button
              class="button  hover:bg-red-700 hover:text-white"
              on:click={enableSensible}>
              Prosseguir
            </button>
            <button
              class="button bg-red-700 text-black hover:bg-gray-800 hover:text-red-700"
              on:click={() => warning = false}>
              Cancelar
            </button>
          </p>
        </div>
      </div>
    </div>
    {/if}
  </div>
</div>

<style lang="postcss">
  :global(.facas path) {
    stroke-width: 3;
    stroke: currentColor;
  }

  li { transform-origin: bottom center; }

  li:nth-child(1) { width: 9%; height: 47%; }
  li:nth-child(2) { width: 5%; height: 34%; }
  li:nth-child(3) { width: 8%; height: 46%; }
  li:nth-child(4) { width: 5%; height: 37%; }
  li:nth-child(5) { width: 6.5%; height: 47%; }
  li:nth-child(6) { width: 5%; height: 39%; }
  li:nth-child(7) { width: 6%; height: 48%; }
  li:nth-child(8) { width: 4%; height: 32%; }
  li:nth-child(9) { width: 4.5%; height: 34%; }
</style>