<script lang="ts">
  import { createEventDispatcher } from 'svelte'
  import data from '$data/data'
  import InteracitonButton from '$lib/interacitonButton.svelte'
  import LottieAnimation from '$lib/lottieAnimation.svelte'
  import { language } from '$store/store';

  const emit = createEventDispatcher()

  export let options: any

  let isHovered = -1
  </script>

  <ol class="relative w-screen h-screen p-2 portrait:pt-16 flex items-end portrait:flex-col justify-around">
  {#each options as link, key}
    <li class="flex flex-col items-center portrait:flex-row">
      <div
        class="overflow-hidden transition-all duration-1000 ease-in-out
              {isHovered === key ? 'max-h-screen portrait:max-w-screen-lg' : 'max-h-0 portrait:max-w-0 portrait:max-h-screen'}">
        <span class="min-w-[1.5rem] py-2 portrait:px-2 portrait:py-0 bg-black text-gray-300 whitespace-nowrap writing-mode">
          {data[link.type][link.link].title[$language]}
        </span>
      </div>
      <div class="m-2 w-14 h-14 lg:w-20 lg:h-20 text-stone-800">
        <InteracitonButton
          active={isHovered === key}
          on:hoverOn={() => isHovered = key}
          on:hoverOff={() => isHovered = -1}
          on:clickEvent={() => emit('navigate', {link: link.link, type: link.type})}>
            <LottieAnimation
              src="Novelos/Novelo_P_02.json"
              start={key}
              speed={1 + Math.sin(key) / 2}/>
        </InteracitonButton>
      </div>
    </li>
  {/each}
    <li></li>
    <li></li>
  </ol>

  <style>
    :global(.lottie-player path) {
      stroke: currentColor;
    }

  .writing-mode {
    writing-mode: vertical-lr;
  }

  li:nth-child(1) {
    margin-bottom: 25vh;
  }
  li:nth-child(2) {
    margin-bottom: 12vh;
  }
  li:nth-child(3) {
    margin-bottom: 2vh;
  }
  li:nth-child(4) {
    margin-bottom: 3vh;
  }
  li:nth-child(5) {
    margin-bottom: 12vh;
  }
  li:nth-child(6) {
    margin-bottom: 30vh;
  }
  li:nth-child(7) {
    margin-bottom: 50vh;
  }

  @media (orientation: portrait) {
    .writing-mode {
      writing-mode: horizontal-tb;
    }
    li:nth-child(1) {
      padding-right: 3rem;
    }
    li:nth-child(3n) {
      padding-right: 2rem;
    }
    li:nth-child(4) {
      padding-right: 4rem;
    }
    li:nth-child(n) {
      margin-bottom: 0;
    }
  }
  </style>