<script lang="ts">
import { createEventDispatcher } from 'svelte'
import data from '$data/data'
import InteracitonButton from '$lib/interacitonButton.svelte'
import LottieAnimation from '$lib/lottieAnimation.svelte'
import { language, pageViewed } from '$store/store'

const emit = createEventDispatcher()

export let options: any

let isHovered = -1

</script>

<ol class="relative w-screen h-screen p-2 portrait:pt-16 flex justify-around">
  <li class="portrait:hidden"></li>
  {#each options as link, key}
  {@const lockedPage = data.keys.hasOwnProperty(link.link) ? !$pageViewed[data.keys[link.link]] : false}
  <li class="line flex flex-col items-center justify-center">
    <div
      class="relative m-2 text-white {key === 1 ?  'w-20 h-20 lg:w-32 lg:h-32' : 'w-14 h-14 lg:w-20 lg:h-20'}">
      <InteracitonButton
        active={isHovered === key}
        locked={lockedPage}
        on:hoverOn={() => isHovered = key}
        on:hoverOff={() => isHovered = -1}
        on:clickEvent={() => emit('navigate', {link: link.link, type: link.type})}>
          <LottieAnimation
            src="Novelos/Novelo_P_02.json"
            start={key}
            speed={1 + Math.sin(key) / 2}/>
      </InteracitonButton>
      <div class="text absolute overflow-hidden
              transition-all duration-1000 ease-in-out
              {isHovered === key ? 'max-h-screen' : 'max-h-0'}">
        <span class="min-w-[1.5rem] px-2 bg-black text-red-700 whitespace-nowrap writing-mode">
          {#if lockedPage}
            TRANCADO
          {:else}
            {data[link.type][link.link].title[$language]}
          {/if}
        </span>
      </div>
    </div>
  </li>
  {/each}
  <li class="portrait:hidden"></li>
</ol>

<style>
:global(.lottie-player path) {
  stroke: currentColor;
}
.text {left: 50%; transform: translate(-50%);}
</style>