<script lang="ts">
import data from '$data/data'
import { timecodeToSeconds } from '$data/helpers'
import InteracitonButton from '$lib/interacitonButton.svelte'
import LottieAnimation from '$lib/lottieAnimation.svelte'
import ProgressBar from '$lib/progressBar.svelte';
import { language, pageViewed } from '$store/store'
import {createEventDispatcher} from 'svelte'
import { fade } from 'svelte/transition'

const emit = createEventDispatcher()

export let options: any
export let currentTime: number
export let duration: number
export let player: VimeoPlayer

const timecodes = [
  "00:06:14,06",
  "00:06:39,08",
  "00:06:54,20",
  "00:07:11,05",
  "00:07:21,15",
  "00:07:31,18",
  "00:07:45,23",
  "00:07:57,21",
  "00:08:05,08"
]

let isHovered = -1
</script>

<div class="absolute min-w-full min-h-full aspect-video">
  <div class="absolute top-0 left-0 w-full h-full flex items-center justify-center">
    <ol class="cards relative w-[55%] h-[89%]
              flex items-center justify-center text-red-700">
      <!-- Clockwize, from middle top -->
      {#each options as link, key}
      {@const lockedPage = data.keys.hasOwnProperty(link.link) ? !$pageViewed[data.keys[link.link]] : false}
      {#if currentTime >= timecodeToSeconds(timecodes[key])}
      <li
        in:fade
        class="absolute w-[16%] h-[16%] transition-all duration-500 {isHovered === key ? 'opacity-100' : 'opacity-30'} flex items-center justify-center">
        <InteracitonButton
          active={isHovered === key}
          locked={lockedPage}
          on:hoverOn={() => isHovered = key}
          on:hoverOff={() => isHovered = -1}
          on:clickEvent={() => emit('navigate', {link: link.link, type: link.type})}
          >
          <LottieAnimation src="Cartas/{link.link}/P_a.json" />
        </InteracitonButton>
      </li>
      {/if}
      {/each}
      {#if isHovered !== -1}
        <div class="absolute bottom-[27.5%] left-[52.5%] px-2 bg-black text-red-700 whitespace-nowrap pointer-events-none">
          {data.medias[options[isHovered].link].title[$language]}
        </div>
      {/if}
    </ol>
  </div>
</div>

<div class="absolute bottom-0 p-3 pr-0 w-full">
  <ProgressBar
    {duration}
    {currentTime}
    markers={[{timecode: '00:06:10,00', text: 'início das cartas'}]}
    on:seekTo={(event) => emit('seekTo', event.detail)} />
</div>

<style>
:global(.cards path) {
  stroke: currentColor;
  stroke-width: 3;
}

li:nth-child(1) {
  top: 27.5%;
  left: 28%
}
li:nth-child(2) {
  top: 41.5%;
  left: 32%
}
li:nth-child(3) {
  top: 54.5%;
  left: 34%
}
li:nth-child(4) {
  top: 24.5%;
  left: 41%
}
li:nth-child(5) {
  top: 38%;
  left: 44.5%
}
li:nth-child(6) {
  top: 51.5%;
  left: 47%
}
li:nth-child(7) {
  top: 21.5%;
  left: 54%
}
li:nth-child(8) {
  top: 35%;
  left: 57.5%
}
li:nth-child(9) {
  top: 48.5%;
  left: 60.5%
}
</style>