<script lang="ts">
import { fade } from 'svelte/transition'
import data from '$data/data'
import { timecodeToSeconds } from '$data/helpers'
import InteracitonButton from '$lib/interacitonButton.svelte'
import LottieAnimation from '$lib/lottieAnimation.svelte'
import { language, pageViewed } from '$store/store'
import { createEventDispatcher } from 'svelte'

const emit = createEventDispatcher()

const timescodes = [
  "00:00:16,08",
  "00:00:18,09",
  "00:00:22,08",
  "00:00:25,08",
  "00:00:26,08",
  "00:00:27,15",
  "00:00:28,21"
]

export let options: any
export let currentTime: number

$: currentTime, pinLinks()
const pinLinks = () => {
  if(currentTime > timecodeToSeconds(timescodes[6])) pageViewed.setViewed('teia')
}

let isHovered = -1
</script>

<ol class="relative w-screen h-screen p-2 portrait:pt-16 flex portrait:flex-col">
  {#each options as link, key}
  {@const lockedPage = data.keys.hasOwnProperty(link.link) ? !$pageViewed[data.keys[link.link]] : false}
  <li class="flex-grow flex flex-col items-center portrait:justify-between {key % 2 ? 'portrait:flex-row-reverse' : 'portrait:flex-row'}">
    <div class="m-2 w-14 h-14 lg:w-20 lg:h-20 portrait:m-0">
      {#if $pageViewed['teia'] || currentTime >= timecodeToSeconds(timescodes[key])}
      <div
        in:fade
        class="w-full h-full">
        <InteracitonButton
          active={isHovered === key}
          locked={lockedPage}
          on:hoverOn={() => isHovered = key}
          on:hoverOff={() => isHovered = -1}
          on:clickEvent={() => emit('navigate', {link: link.link, type: link.type})}>
            <LottieAnimation
              src="Novelos/Novelo_P_02.json"
              start={key}
              speed={1 + Math.sin(key) / 2}/>
        </InteracitonButton>
      </div>
      {/if}
    </div>
    <div
      class="overflow-hidden transition-all duration-1000 ease-in-out
            {isHovered === key ? 'max-h-screen portrait:max-w-screen-lg' : 'max-h-0 portrait:max-w-0 portrait:max-h-screen'}"
      class:locked={lockedPage}>
      <span class="min-w-[1.5rem] py-2 portrait:px-2 portrait:py-0 bg-black text-gray-300 whitespace-nowrap writing-mode">
        {#if lockedPage}
          TRANCADO
        {:else}
          {data[link.type][link.link].title[$language]}
        {/if}
      </span>
    </div>
  </li>
  {/each}
  <li class="flex-grow"></li>
</ol>


<style>
.writing-mode {
  writing-mode: vertical-lr;
}

li:nth-child(1) {
  margin-top: 25vh;
}
li:nth-child(2) {
  margin-top: 12vh;
}
li:nth-child(3) {
  margin-top: 2vh;
}
li:nth-child(4) {
  margin-top: 3vh;
}
li:nth-child(5) {
  margin-top: 12vh;
}
li:nth-child(6) {
  margin-top: 30vh;
}
li:nth-child(7) {
  margin-top: 50vh;
}

@media (orientation: portrait) {
  .writing-mode {
    writing-mode: horizontal-tb;
  }
  li:nth-child(1) {
    padding-left: 1rem;
  }
  li:nth-child(2) {
    padding-right: 3rem;
  }
  li:nth-child(3n) {
    padding-left: 4rem;
  }
  li:nth-child(4) {
    padding-right: 1rem;
  }
  li:nth-child(5) {
    padding-left: 6rem;
  }
  li:nth-child(7) {
    padding-left: 2rem;
  }
  li:nth-child(n) {
    margin-top: 0;
  }
}
</style>