<script lang="ts">
  import { fade } from 'svelte/transition'
  import { page } from '$app/stores'
  import { goto } from '$app/navigation'
  import Icons from '$lib/icons.svelte'
  import mediaData from '$data/medias.json'

  import video from '$lib/video.svelte'
  import gallery from '$lib/gallery.svelte'
  import More from '$lib/more.svelte'
  import { language } from '$store/store';

  $: $page.params.media, updateMedia()

  let currentMedia = mediaData[$page.params.media]
  let mediaType = currentMedia.type === 'gallery' ? gallery : video

  const updateMedia = () => {
    if(!$page.params.media) return
    currentMedia = mediaData[$page.params.media]
    mediaType = currentMedia.type === 'gallery' ? gallery : video
  }

  const closePage = () => {
    goto(`/${$page.params.page}`)
  }
</script>

{#if currentMedia.text}
  {@const image = $page.params.page === 'taro' ? $page.params.media : ''}
  <More text={currentMedia.text[$language]} title={currentMedia.title[$language]} {image} />
{/if}

<button
  transition:fade
  on:click={closePage}
  class="absolute w-8 h-8 top-4 right-4 z-30 text-red-700 hover:text-white">
  <Icons type="close" />
</button>

<svelte:component this={mediaType} media={currentMedia} on:close={closePage} />
