@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('FiraSans-Regular'),
        url('/fonts/FiraSans-Regular.woff') format('woff'),
        url('/fonts/FiraSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Sans Bold';
  font-style: bold;
  font-weight: 700;
  src: local('FiraSans-Bold'),
        url('/fonts/FiraSans-Bold.woff') format('woff'),
        url('/fonts/FiraSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'MoonTime';
  font-style: normal;
  font-weight: 400;
  src: local('MoonTime-Regular'),
        url('/fonts/MoonTime-Regular.woff') format('woff'),
        url('/fonts/MoonTime-Regular.ttf') format('truetype');
}

body {
  font-family: 'Fira Sans';
}

article {
  @apply absolute w-full h-full p-8 flex flex-col items-center justify-center z-10;
}

h1 {
  font-family: 'MoonTime';
}

p {
  line-height: 1.8rem;
}

svg {
  @apply w-full h-full fill-current;
}

.bullet {
  @apply absolute w-4 h-4 right-0 z-20 cursor-pointer;

  transform: translateX(50%);
}

.button {
  @apply px-4 py-2 text-sm uppercase font-bold border border-current rounded transition-all ease-in-out;
}

.locked {@apply opacity-30;}

.glass {
  @apply bg-white bg-opacity-30 backdrop-blur-[8px];
}